* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #EAEBEF;
    background-position: center;
    background-size: cover;
    color: #000;
    min-height: 100vh;
}
   
header, .barra-lateral {
    z-index: 1;
}

.inicio {
    text-decoration: none;
}
   
.logo {
    height: 70px;
    margin-top: 10px;
    width: 230px;
}
   
.barra-lateral {
    background: #FFF;
    backdrop-filter: blur(15px);
    border-radius: 0 13px 13px 0;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: 0.6s ease;
    transition-property: left;
    overflow-y: auto;
    width: 240px;
}

.barra-lateral::-webkit-scrollbar {
     width: 0px;
}
   
.barra-lateral.active {
    left: 0;
}
   
header h1 {
    color: black;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: -15px;
    right: 2%;
}
   
.icon {
    height: 30px;
    width: 40px;
}
   
.barra-lateral .menu {
    margin-top: 5px;
    width: 250px;
}
   
.barra-lateral .menu .elemento {
    cursor: pointer;
    left: -10px;
    position: relative;
}
   
.barra-lateral .menu .elemento a {
    align-content: center;
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 10px;
    text-decoration: none;
}
   
.barra-lateral .menu .elemento a span {
    bottom: 24px;
    position: relative;
}
   
.barra-lateral .menu .elemento a i {
    margin-right: 15px;
    position: relative;
    top: 4px;
}
   
.barra-lateral .menu .elemento a:hover {
    background: #ADD8E6;
    transition: 0.3s ease;
}
   
.barra-lateral .menu .elemento a .dropdown {
    margin: 20px;
    position: absolute;
    transition: 0.3s ease;
    right: 0;
}

.barra-lateral .menu .elemento a img {
    margin: 15px;
}
   
.barra-lateral .menu .elemento .sub-menu {
    display: none;
}
   
.barra-lateral .menu .elemento .sub-menu a {
    border-left: 2px solid #303440;
    font-size: 12px;
    font-weight: bold;
    margin-left: 30px;
    padding: 15px;
}

.rotate {
    transform: rotate(90deg);
}

.menu-boton, .cerrar-boton {
    display: none;
}

aside {
    bottom: 0;
    left: 20%;
    position: fixed;
    text-transform: uppercase;
    top: 5%;
    right: 0;
}

aside h1 {
    background-color: #0029FF;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 1040px;
}

table {
    background-color: #ADD8E6;
    border-collapse: collapse;
    height: auto;
    margin-top: 20px;
    width: 95%;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table .active:hover {
    background-color: #009BEF;
}

table th {
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding: 7px;
    text-align: center;
}

table td {
    border-right: 1px solid;
    cursor: pointer;  
    padding: 7px; 
    text-align: center;
}

.eliminar {
    height: 24px;
    position: fixed;
    right: 58px;
    top: 150px;
    width: 24px;
}

.eliminar1 {
    height: 24px;
    position: fixed;
    right: 58px;
    top: 185px;
    width: 24px;
}

.eliminar2 {
    height: 24px;
    position: fixed;
    right: 58px;
    top: 220px;
    width: 24px;
}

.eliminar3 {
    height: 24px;
    position: fixed;
    right: 58px;
    top: 257px;
    width: 24px;
}

.eliminar4 {
    height: 24px;
    position: fixed;
    right: 58px;
    top: 293px;
    width: 24px;
}

.eliminar5 {
    height: 24px;
    position: fixed;
    right: 58px;
    top: 330px;
    width: 24px;
}

.eliminar6 {
    height: 24px;
    position: fixed;
    right: 58px;
    top: 365px;
    width: 24px;
}

.eliminar7 {
    height: 24px;
    position: fixed;
    right: 58px;
    top: 400px;
    width: 24px;
}

.eliminar8 {
    height: 24px;
    position: fixed;
    right: 58px;
    top: 436px;
    width: 24px;
}

.eliminar9 {
    height: 24px;
    position: fixed;
    right: 58px;
    top: 473px;
    width: 24px;
}

.eliminar10 {
    height: 24px;
    position: fixed;
    right: 58px;
    top: 510px;
    width: 24px;
}

.descargar {
    height: 23.5px;
    position: fixed;
    right: 95px;
    top: 152px;
    width: 23.5px;
}

.descargar1 {
    height: 23.5px;
    position: fixed;
    right: 95px;
    top: 188px;
    width: 23.5px;
}

.descargar2 {
    height: 23.5px;
    position: fixed;
    right: 95px;
    top: 225px;
    width: 23.5px;
}

.descargar3 {
    height: 23.5px;
    position: fixed;
    right: 95px;
    top: 261px;
    width: 23.5px;
}

.descargar4 {
    height: 23.5px;
    position: fixed;
    right: 95px;
    top: 296px;
    width: 23.5px;
}

.descargar5 {
    height: 23.5px;
    position: fixed;
    right: 95px;
    top: 333px;
    width: 23.5px;
}

.descargar6 {
    height: 23.5px;
    position: fixed;
    right: 95px;
    top: 368px;
    width: 23.5px;
}

.descargar7 {
    height: 23.5px;
    position: fixed;
    right: 95px;
    top: 405px;
    width: 23.5px;
}

.descargar8 {
    height: 23.5px;
    position: fixed;
    right: 95px;
    top: 440px;
    width: 23.5px;
}

.descargar9 {
    height: 23.5px;
    position: fixed;
    right: 95px;
    top: 476px;
    width: 23.5px;
}

.descargar10 {
    height: 23.5px;
    position: fixed;
    right: 95px;
    top: 513px;
    width: 23.5px;
}

.boton {
    background-color: #2CF30B;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 40%;
    padding: 7px 30px;
    text-transform: uppercase;
}

@media screen and (max-width: 1224px) {
    .logo {
        width: 200px;
        height: 60px;
    }

    header h1 {
        font-size: 28px;
    }

    .barra-lateral {
        width: 210px;
    }

    .barra-lateral .elemento span {
        font-size: 12px;
    }

    .elemento a i {
        left: 71%;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 11px;
    }

    .barra-lateral .menu .elemento a .dropdown {
        width: 10px;
    }
    
    aside {
        bottom: 0;
        left: 22%;
        position: fixed;
        text-transform: uppercase;
        top: 5%;
        right: 0;
    }

    aside h1 {
        font-size: 24px;
        padding: 7px;
        margin-left: 18px;
        width: 90%;
    }


    table {
        margin-top: 20px;
        margin-left: 20px;
        width: 90%;
    }

    table th {
        font-size: 14px;
    }

    table td {
        font-size: 14px;
    }


    .eliminar {
        right: 78px;
        top: 137px;
    }

    .eliminar1 {
        right: 78px;
        top: 170px;
    }

    .eliminar2 {
        right: 78px;
        top: 203px;
    }

    .eliminar3 {
        right: 78px;
        top: 236px;
    }

    .eliminar4 {
        right: 78px;
        top: 269px;
    }

    .eliminar5 {
        right: 78px;
        top: 302px;
    }

    .eliminar6 {
        right: 78px;
        top: 335px;
    }

    .eliminar7 {
        right: 78px;
        top: 368px;
    }

    .eliminar8 {
        right: 78px;
        top: 401px;
    }

    .eliminar9 {
        right: 78px;
        top: 435px;
    }

    .eliminar10 {
        right: 78px;
        top: 468px;
    }

    .descargar {
        right: 110px;
        top: 139px;
    }

    .descargar1 {
        right: 110px;
        top: 172px;
    }

    .descargar2 {
        right: 110px;
        top: 205px;
    }

    .descargar3 {
        right: 110px;
        top: 238px;
    }

    .descargar4 {
        right: 110px;
        top: 270px;
    }

    .descargar5 {
        right: 110px;
        top: 303px;
    }

    .descargar6 {
        right: 110px;
        top: 335px;
    }

    .descargar7 {
        right: 110px;
        top: 369px;
    }

    .descargar8 {
        right: 110px;
        top: 403px;
    }

    .descargar9 {
        right: 110px;
        top: 435px;
    }

    .descargar10 {
        right: 110px;
        top: 470px;
    }

    .boton {
        font-size: 16px;
    }
}

@media screen and (max-width: 924px) {
    aside {
        left: 26%;
    }

    aside h1 {
        font-size: 22px;
        padding: 7px;
    }

    table th {
        font-size: 13px;
    }

    table td {
        font-size: 12px;
    }

    .eliminar {
        right: 52px;
        top: 132px;
    }

    .eliminar1 {
        right: 52px;
        top: 163px;
    }

    .eliminar2 {
        right: 52px;
        top: 194px;
    }

    .eliminar3 {
        right: 52px;
        top: 226px;
    }

    .eliminar4 {
        right: 52px;
        top: 256px;
    }

    .eliminar5 {
        right: 52px;
        top: 287px;
    }

    .eliminar6 {
        right: 52px;
        top: 318px;
    }

    .eliminar7 {
        right: 52px;
        top: 350px;
    }

    .eliminar8 {
        right: 52px;
        top: 381px;
    }

    .eliminar9 {
        right: 52px;
        top: 412px;
    }

    .eliminar10 {
        right: 52px;
        top: 442px;
    }

    .descargar {
        right: 84px;
        top: 134px;
    }

    .descargar1 {
        right: 84px;
        top: 164px;
    }

    .descargar2 {
        right: 84px;
        top: 195px;
    }

    .descargar3 {
        right: 84px;
        top: 225px;
    }

    .descargar4 {
        right: 84px;
        top: 257px;
    }

    .descargar5 {
        right: 84px;
        top: 288px
    }

    .descargar6 {
        right: 84px;
        top: 320px;
    }

    .descargar7 {
        right: 84px;
        top: 350px;
    }

    .descargar8 {
        right: 84px;
        top: 381px;
    }

    .descargar9 {
        right: 84px;
        top: 412px;
    }

    .descargar10 {
        right: 84px;
        top: 445px;
    }

    .boton {
        font-size: 14px;
    }
}


@media screen and (max-width: 824px) {
    .logo {
        width: 180px;
        height: 50px;
    }

    header h1 {
        font-size: 26px;
        margin-right: 20px;
    }

    .barra-lateral {
        width: 195px;
        left: -205px;
    }

    .barra-lateral .elemento span {
        font-size: 11px;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 10px;
    }

    .elemento a i {
        left: 66%;
    }

    .cerrar-boton,
    .menu-boton {
        display: unset;
    }

    .menu-boton {
        font-size: 25px;
        margin-left: 10px;
    }

    .cerrar-boton {
        font-size: 25px;
        margin-left: 160px;
    }

    aside {
        left: -3%;
    }

    aside h1 {
        font-size: 20px;
        padding: 7px;
        width: 100%;
    }

    table {
        position: relative;
        left: 4%;
        width: 90%;
    }

    table th {
        font-size: 12px;
    }

    table td {
        font-size: 12px;
    }

    .eliminar {
        z-index: 1;
        right: 36px;
        top: 128px;
    }

    .eliminar1 {
        z-index: 1;
        right: 36px;
        top: 160px;
    }

    .eliminar2 {
        z-index: 1;
        right: 36px;
        top: 191px;
    }

    .eliminar3 {
        z-index: 1;
        right: 36px;
        top: 222px;
    }

    .eliminar4 {
        z-index: 1;
        right: 36px;
        top: 252px;
    }

    .eliminar5 {
        z-index: 1;
        right: 36px;
        top: 283px;
    }

    .eliminar6 {
        z-index: 1;
        right: 36px;
        top: 314px;
    }

    .eliminar7 {
        z-index: 1;
        right: 36px;
        top: 345px;
    }

    .eliminar8 {
        z-index: 1;
        right: 36px;
        top: 376px;
    }

    .eliminar9 {
        z-index: 1;
        right: 36px;
        top: 408px;
    }

    .eliminar10 {
        z-index: 1;
        right: 36px;
        top: 438px;
    }

    .descargar {
        z-index: 1;
        right: 64px;
        top: 131px;
    }

    .descargar1 {
        z-index: 1;
        right: 64px;
        top: 161px;
    }

    .descargar2 {
        z-index: 1;
        right: 64px;
        top: 192px;
    }

    .descargar3 {
        z-index: 1;
        right: 64px;
        top: 222px;
    }

    .descargar4 {
        z-index: 1;
        right: 64px;
        top: 253px;
    }

    .descargar5 {
        z-index: 1;
        right: 64px;
        top: 284px;
    }

    .descargar6 {
        z-index: 1;
        right: 64px;
        top: 315px;
    }

    .descargar7 {
        z-index: 1;
        right: 64px;
        top: 346px;
    }

    .descargar8 {
        z-index: 1;
        right: 64px;
        top: 377px;
    }

    .descargar9 {
        z-index: 1;
        right: 64px;
        top: 409px;
    }

    .descargar10 {
        z-index: 1;
        right: 64px;
        top: 440px;
    }

    .boton {
        font-size: 15px;
    }
}

@media screen and (max-width: 724px) {
    header h1 {
        font-size: 26px;
        margin-right: 20px;
    }

    .barra-lateral {
        width: 195px;
    }

    .barra-lateral .elemento span {
        font-size: 11px;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 10px;
    }

    .elemento a i {
        left: 66%;
    }

    aside h1 {
        font-size: 20px;
        width: 100%;
    }

    table {
        width: 90%;
    }

    table th {
        font-size: 12px;
    }

    table td {
        font-size: 12px;
    }

    .boton {
        font-size: 13px;
    }

    .eliminar {
        right: 34px;
        top: 128px;
    }

    .eliminar1 {
        right: 34px;
        top: 160px;
    }

    .eliminar2 {
        right: 34px;
        top: 191px;
    }

    .eliminar3 {
        right: 34px;
        top: 222px;
    }

    .eliminar4 {
        right: 34px;
        top: 252px;
    }

    .eliminar5 {
        right: 34px;
        top: 283px;
    }

    .eliminar6 {
        right: 34px;
        top: 314px;
    }

    .eliminar7 {
        right: 34px;
        top: 345px;
    }

    .eliminar8 {
        right: 34px;
        top: 376px;
    }

    .eliminar9 {
        right: 34px;
        top: 408px;
    }

    .eliminar10 {
        right: 34px;
        top: 438px;
    }

    .descargar {
        right: 66px;
        top: 131px;
    }

    .descargar1 {
        right: 66px;
        top: 161px;
    }

    .descargar2 {
        right: 66px;
        top: 192px;
    }

    .descargar3 {
        right: 66px;
        top: 222px;
    }

    .descargar4 {
        right: 66px;
        top: 253px;
    }

    .descargar5 {
        right: 66px;
        top: 283px
    }

    .descargar6 {
        right: 66px;
        top: 315px;
    }

    .descargar7 {
        right: 66px;
        top: 346px;
    }

    .descargar8 {
        right: 66px;
        top: 377px;
    }

    .descargar9 {
        right: 66px;
        top: 409px;
    }

    .descargar10 {
        right: 66px;
        top: 440px;
    }
}

@media screen and (max-width: 624px) {
    header h1 {
        font-size: 26px;
        margin-right: 20px;
    }

    .barra-lateral {
        width: 195px;
    }

    .barra-lateral .elemento span {
        font-size: 11px;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 10px;
    }

    .elemento a i {
        left: 66%;
    }


    aside h1 {
        font-size: 18px;
        padding: 6px;
        width: 100%;
    }


    table {
        margin-left: 20px;
        width: 90%;
    }

    table th {
        font-size: 11px;
    }

    table td {
        font-size: 11px;
    }


    .eliminar {
        right: 20px;
        top: 122px;
        width: 19.5px;
        height: 19.5px;
    }

    .eliminar1 {
        right: 20px;
        top: 152px;
        width: 19.5px;
        height: 19.5px;
    }

    .eliminar2 {
        right: 20px;
        top: 180px;
        width: 19.5px;
        height: 19.5px;
    }

    .eliminar3 {
        right: 20px;
        top: 209px;
        width: 19.5px;
        height: 19.5px;
    }

    .eliminar4 {
        right: 20px;
        top: 238px;
        width: 19.5px;
        height: 19.5px;
    }

    .eliminar5 {
        right: 20px;
        top: 267px;
        width: 19.5px;
        height: 19.5px;
    }

    .eliminar6 {
        right: 20px;
        top: 296px;
        width: 19.5px;
        height: 19.5px;
    }

    .eliminar7 {
        right: 20px;
        top: 326px;
        width: 19.5px;
        height: 19.5px;
    }

    .eliminar8 {
        right: 20px;
        top: 354px;
        width: 19.5px;
        height: 19.5px;
    }

    .eliminar9 {
        right: 20px;
        top: 383px;
        width: 19.5px;
        height: 19.5px;
    }

    .eliminar10 {
        right: 20px;
        top: 412px;
        width: 19.5px;
        height: 19.5px;
    }

    .descargar {
        right: 44px;
        top: 125px;
        width: 19.5px;
        height: 19.5px;
    }

    .descargar1 {
        right: 44px;
        top: 153px;
        width: 19.5px;
        height: 19.5px;
    }

    .descargar2 {
        right: 44px;
        top: 182px;
        width: 19.5px;
        height: 19.5px;
    }

    .descargar3 {
        right: 44px;
        top: 210px;
        width: 19.5px;
        height: 19.5px;
    }

    .descargar4 {
        right: 44px;
        top: 239px;
        width: 19.5px;
        height: 19.5px;
    }

    .descargar5 {
        right: 44px;
        top: 269px;
        width: 19.5px;
        height: 19.5px;
    }

    .descargar6 {
        right: 44px;
        top: 297px;
        width: 19.5px;
        height: 19.5px;
    }

    .descargar7 {
        right: 44px;
        top: 327px;
        width: 19.5px;
        height: 19.5px;
    }

    .descargar8 {
        right: 44px;
        top: 355px;
        width: 19.5px;
        height: 19.5px;
    }

    .descargar9 {
        right: 44px;
        top: 384px;
        width: 19.5px;
        height: 19.5px;
    }

    .descargar10 {
        right: 44px;
        top: 413px;
        width: 19.5px;
        height: 19.5px;
    }

    .boton {
        font-size: 12px;
    }
}

@media screen and (max-width: 524px) {
    header h1 {
        font-size: 26px;
        margin-right: 20px;
    }

    .barra-lateral {
        width: 195px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -205px;
        overflow-y: auto;
        transition: 0.6s ease;
        transition-property: left;
        border-radius: 0 13px 13px 0;
    }

    .barra-lateral .elemento span {
        font-size: 11px;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 10px;
    }

    .barra-lateral .elemento a i {
        position: relative;
        left: 65%;
    }

    .cerrar-boton,
    .menu-boton {
        display: unset;
    }

    .menu-boton {
        font-size: 25px;
        margin-left: 10px;
    }

    .cerrar-boton {
        font-size: 25px;
        margin-left: 160px;
    }


    aside {
        left: -4%;
        position: fixed;
        width: 100%;
    }

    aside h1 {
        font-size: 16px;
        padding: 7px;
        width: 100%;
    }

    table {
        position: relative;
        left: 3%;
        width: 95%;
    }

    table th {
        font-size: 9px;
    }

    table td {
        font-size: 9px;
    }

    .eliminar {
        right: 14px;
        top: 119px;
    }

    .eliminar1 {
        right: 14px;
        top: 146px;
    }

    .eliminar2 {
        right: 14px;
        top: 173px;
    }

    .eliminar3 {
        right: 14px;
        top: 200px;
    }

    .eliminar4 {
        right: 14px;
        top: 228px;
    }

    .eliminar5 {
        right: 14px;
        top: 254px;
    }

    .eliminar6 {
        right: 14px;
        top: 280px;
    }

    .eliminar7 {
        right: 14px;
        top: 308px;
    }

    .eliminar8 {
        right: 14px;
        top: 335px;
    }

    .eliminar9 {
        right: 14px;
        top: 362px;
    }

    .eliminar10 {
        right: 14px;
        top: 390px;
    }

    .descargar {
        right: 36px;
        top: 120px;
    }

    .descargar1 {
        right: 36px;
        top: 148px;
    }

    .descargar2 {
        right: 36px;
        top: 175px;
    }

    .descargar3 {
        right: 36px;
        top: 202px;
    }

    .descargar4 {
        right: 36px;
        top: 229px;
    }

    .descargar5 {
        right: 36px;
        top: 255px;
    }

    .descargar6 {
        right: 36px;
        top: 280px;
    }

    .descargar7 {
        right: 36px;
        top: 308px;
    }

    .descargar8 {
        right: 36px;
        top: 334px;
    }

    .descargar9 {
        right: 36px;
        top: 362px;
    }

    .descargar10 {
        right: 36px;
        top: 390px;
    }

    .boton {
        font-size: 11px;
    }
}