aside {
    bottom: 0;
    left: 20%;
    position: fixed;
    text-transform: uppercase;
    top: 5%;
    right: 0;
}

aside h1 {
    background-color: #009BEF;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 97%;
}

.indicaciones_cta {
    padding: 8px 0;
    text-align: justify;
    margin-top: 20px;
    margin-right: 30px;
}

.indicaciones_cta .parrafos_contrasena {
    align-items: center;
    color: #000;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    margin: 5px 0;
    padding: 3px 0;
    text-align: justify;
    width: 100%;
}

.contenedor_formulario {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.campo {
    position: relative;
    margin-top: 40px;
    margin-right: 30px;
}

input {
    border: 2px solid #ADD8E6;
    border-radius: 5px;
    box-shadow: none;
    color: #000;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    flex-flow: column;
    height: 38px;
    justify-content: left;
    margin: 10px;
    padding: 0px;
    text-align: center;
    width: 340px;
}

label {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(38px, 9px);
    transform-origin: center;
    transition: transform 0.25s;
}

input:focus-visible~label,
input:valid~label {
    color: #000;
    font-size: 17px;
    transform: translate(-0px, -20px) scale(0.8);
    margin-top: -10px;
}

input:is(:focus-visible, :valid) {
    outline-color: #000;
}

.icono_label {
    position: relative;
    top: -40px;
    left: 15px;
    font-size: 15px;
    cursor: pointer;
}

.fa-key {
    color: #e5be01;
}

.moscontra {
    position: relative;
    left: 304px;
    bottom: 40px;
    font-size: 15px;
    cursor: pointer;
}

.boton {
    background-color: #189BEF;
    border: 2px solid #fff;
    color: #000;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    height: 36px;
    margin-left: 18%;
    padding: 5px 30px;
    text-transform: uppercase;
    width: 220px;
}

@media screen and (max-width: 1224px) {
    aside {
        bottom: 0;
        left: 22%;
        position: fixed;
        text-transform: uppercase;
        top: 5%;
        right: 0;
    }

    aside h1 {
        font-size: 26px;
        padding: 7px;
        width: 94%;
    }

    .boton {
        font-size: 15px;
    }
}

@media screen and (max-width: 1124px) {
    aside h1 {
        font-size: 24px;
        width: 96%; 
    }

    .boton {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    aside h1 {
        margin-left: 10px;
        width: 95%; 
    }
}

@media screen and (max-width: 924px) {
    aside {
        left: 24%;
        position: fixed;
    }

    aside h1 {
        font-size: 22px;
        padding: 8px;
        margin-left: 20px;
        width: 94%;
    }

    .indicaciones_cta .parrafos_contrasena {
        font-size: 14px;
    }

    .campo {
        margin-left: 30px;
    }

    input {
        width: 310px;
    }

    .moscontra {
        left: 274px;
    }

    .boton {
        margin-left: 90px;
        width: 200px;
    }
}

@media screen and (max-width: 824px) {
    aside {
        left: -3%;
        position: fixed;
    }

    aside h1 {
        font-size: 20px;
        padding: 9px;
        width: 100%;
    }

    .indicaciones_cta .parrafos_contrasena {
        font-size: 13px;
        margin-left: 16px;
    }

    .campo {
        margin-top: 40px;
        margin-left: 50px;
    }

    input {
        font-size: 13px;
        height: 34px;
        margin: 10px;
        padding: 0px;
    }

    label {
        font-size: 13px;
        transform: translate(38px, 8px);
    }

    input:focus-visible~label,
    input:valid~label {
        font-size: 15px;
        transform: translate(-0px, -10px) scale(0.8);
    }

    .icono_label {
        top: -39px;
        left: 15px;
        font-size: 14px;
    }

    .moscontra {
        font-size: 14px;
    }

    .boton {
        font-size: 13px;
        margin-left: 120px;
        margin-top: 20px;
        width: 186px;
    }
}

@media screen and (max-width: 724px) {
    main h1 {
        font-size: 18px;
        padding: 7px;
        width: 100%;
    }

    .indicaciones_cta {
        margin-left: 20px;
    }

    .indicaciones_cta .parrafos_contrasena {
        font-size: 12px;
    }

    input {
        font-size: 13px;
        height: 34px;
        width: 280px;
    }

    .icono_label {
        top: -40px;
        left: 15px;
        font-size: 13px;
    }

    .moscontra {
        font-size: 13px;
        bottom: 40px;
        left: 248px;
    }

    .boton {
        font-size: 12px;
        margin-left: 115px;
        width: 180px;
    }
}

@media screen and (max-width: 624px) {
    aside h1 {
        font-size: 20px;
        padding: 6px;
        width: 100%;
    }

    .indicaciones_cta .parrafos_contrasena {
        font-size: 10px;
    }
}

@media screen and (max-width: 524px) {
    aside {
        left: -5%;
        position: fixed;
        width: 100%;
    }

    aside h1 {
        font-size: 16px;
        padding: 7px;
        width: 100%;
    }

    .indicaciones_cta .parrafos_contrasena {
        font-size: 11px;
    }

    input {
        font-size: 13px;
        height: 30px;
        width: 240px;
    }

    label {
        font-size: 12px;
        transform: translate(38px, 6px);
    }

    input:focus-visible~label,
    input:valid~label {
        font-size: 15px;
        transform: translate(-0px, -10px) scale(0.8);
    }

    .icono_label {
        top: -38px;
        font-size: 12px;
    }

    .moscontra {
        bottom: 38px;
        left: 208px;
    }

    .boton {
        margin-left: 95px;
        width: 180px;
    }
}

@media screen and (max-width: 500px) {
    .indicaciones_cta .parrafos_contrasena {
        font-size: 10px;
        margin-left: 23px;
    }

    .campo {
        margin-left: 65px;
    }

    input {
        font-size: 11px;
    }

    label {
        font-size: 11px;
        transform: translate(30px, 8px);
    }

    input:focus-visible~label,
    input:valid~label {
        font-size: 15px;
        transform: translate(-6px, -10px) scale(0.8);
    }

    .icono_label {
        top: -37px;
        font-size: 11px;
    }

    .moscontra {
        font-size: 12px;
        bottom: 36px;
        left: 212px;
    }

    .boton {
        font-size: 11px;
        margin-top: 40px;
        margin-left: 105px;
    }
}