* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EAEBEF;
    width: 100%;
}

header {
	padding: 30px;
    text-align: center;
    width: 100%;
}

h1 {
    background-color: #009BEF;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.contenedor {
	align-items: center;
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	margin: auto;
	padding: 40px 20px;
	width: 100%;
}

.tarjeta {
	color: #fff;
	cursor: pointer;
	max-width: 550px;
	position: relative;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	transition: .3s ease all;
	width: 100%;
	z-index: 2;
}

.tarjeta.active {
	transform: rotateY(180deg);
}

.tarjeta > div {
	border-radius: 15px;
	box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 315px;
	padding: 30px;
}

.tarjeta .delantera {
	background: url(../icons/bg-tarjeta.jpg);
	background-size: cover;
	width: 100%;
}

.delantera .logo-marca {
	min-height: 50px;
	text-align: right;
}

.delantera .logo-marca img {
	height: 100%;
	max-width: 80px;
	object-fit: cover;
	width: 100%;
}

.delantera .chip {
	margin-top: -90px;
	max-width: 50px;
	width: 100%;
}

.delantera .grupo .label {
	color: #7d8994;
	font-size: 16px;
	margin-bottom: 5px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
}

.delantera .flexbox {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.trasera {
	backface-visibility: hidden;
	background: url(../icons/bg-tarjeta.jpg);
	background-size: cover;
	position: absolute;
	top: 0;
	transform: rotateY(180deg);
}

.trasera .barra-magnetica {
	background: #EAEBEF;
	height: 40px;
	left: 0;
	position: absolute;
	top: 30px;
	width: 100%;
}

.trasera .datos {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}

.trasera .datos p {
	margin-bottom: 5px;
}

.trasera .datos #firma {
	width: 70%;
}

.trasera .datos #firma .firma {
	background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
	height: 40px;
}

.trasera .datos #firma .firma p {
	color: #000;
	font-size: 30px;
	line-height: 40px;
	padding: 0 10px;
	text-transform: capitalize;
}

.trasera .datos #ccv {
	width: 20%;
}

.trasera .datos #ccv .ccv {
	color: #000;
	background: #EAEBEF;
	height: 40px;
	padding: 10px;
	text-align: center;
}

.trasera .leyenda {
	font-size: 14px;
	line-height: 24px;
}

.trasera .link-banco {
	color: #EAEBEF;
	font-size: 14px;
}

.contenedor-btn .btn-abrir-formulario {
	background: #2364d2;
	border: none;
	border-radius: 100%;
	box-shadow: -5px 4px 8px rgba(24,56,182,0.4);
	color: #fff;
	cursor: pointer;
	height: 50px;
	font-size: 20px;
	line-height: 20px;
	padding: 5px;
	position: relative;
	top: -25px;
	transition: all .2s ease;
	width: 50px;
	z-index: 3;
}

.contenedor-btn .btn-abrir-formulario:hover {
	background: #1850b1;
}

.contenedor-btn .btn-abrir-formulario.active {
	transform: rotate(45deg);
}

.formulario-tarjeta {
	background: #fff;
	border-radius: 10px;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	max-width: 700px;
	padding: 150px 30px 30px 30px;
	position: relative;
	top: -150px;
	transition: clip-path .3s ease-out;
	width: 100%;
	z-index: 1;
}

.formulario-tarjeta.active {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.btn-enviar {
	border: 2px solid #CED6E0;
	border-radius: 5px;
	font-size: 18px;
	height: 50px;
	padding: 5px 12px;
	transition: .3s ease all;
	width: 100%;
}

.formulario-tarjeta input::placeholder,
.formulario-tarjeta select::placeholder {
	font-weight: 700;
}

.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover {
	border: 2px solid #93BDED;
}

.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
	box-shadow: 1px 7px 10px -5px rgba(90,116,148,0.3);
	outline: rgb(4,4,4);
}

.formulario-tarjeta input {
	font-weight: 500;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.formulario-tarjeta .flexbox {
	display: flex;
	justify-content: space-between;
}

.formulario-tarjeta .expira {
	width: 100%;
}

.formulario-tarjeta .ccv {
	min-width: 100px;
}

.formulario-tarjeta .grupo-select {
	margin-right: 15px;
	position: relative;
	width: 100%;
}

.formulario-tarjeta .grupo-select select {
	font-weight: 700;
}

.formulario-tarjeta .grupo-select:hover {
	color: #93bfed;
}

.botones {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.formulario-tarjeta .btn-enviar {
	background-color: #009BEF;
	border: 1px solid #fff;
    border-radius: 6px;
	color: #000;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    margin: 0 10px;
    padding: 8px;
    text-transform: uppercase;
    width: 220px;
}

.formulario-tarjeta .btn-enviar:hover {
	background-color: #0029FF;
	border: 1px solid #000;
	color: #FFF;
	transition: all 1s ease-out;
	width: 220px;
}

.botones a {
	text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 20px;
        padding: 15px;
    }
}

@media screen and (max-width: 525px) {
    header {
        padding: 30px 0;
    }

    h1 {
        padding: 10px;
    }

	.formulario-tarjeta .btn-enviar {
		font-size: 16px;
		width: 160px;
	}
}

@media screen and (max-width: 500px) {
	body, header, main {
		overflow: hidden;
	}

	.contenedor {
		padding: 10px;
	}

	.tarjeta > div {
		height: 230px;
		min-height: 240px;
	}

	.datos .flexbox .grupo {
		margin-bottom: 5px;
	}

	.delantera .grupo .label {
		font-size: 16px;
	}

	.delantera .grupo .numero,
	.delantera .grupo .nombre,
	.delantera .grupo .expiracion {
		font-size: 17px;
	}

	.trasera .barra-magnetica {
		height: 30px;
	}

	.trasera .datos #firma .firma {
		height: 32px;
	}

	.trasera .datos #firma .firma p {
		font-size: 22px;
		line-height: 30px;
		text-align: center;
	}

	.trasera .datos #ccv {
		width: 18%;
	}

	.trasera .datos #ccv .ccv {
		height: 32px;
	}

	.trasera .leyenda {
		font-size: 13px;
	}

	.formulario-tarjeta {
		max-width: 500px;
	}

	.formulario-tarjeta input,
	.formulario-tarjeta select,
	.btn-enviar {
		font-size: 16px;
		height: 40px;
	}

	.botones {
		padding-top: 20px;
	}

	.formulario-tarjeta a  {
		text-align: center;
		width: 200px;
	}

	.formulario-tarjeta .btn-enviar {
		font-size: 18px;
		margin: 0 10px;
		padding: 8px;
		width: 200px;
	}
}