aside {
    bottom: 0;
    left: 20%;
    position: absolute;
    text-transform: uppercase;
    top: 5%;
    right: 0;
    overflow: hidden;
}

aside h1 {
    background-color: #009BEF;
    color: #000;
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 97%;
}

.formulario {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.8rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    width: 100%;
}

.grid-1,
.grid-2,
.grid-3 {
    position: relative;
    right: 0%;
    margin-top: 20px;
}

.A {
    margin-bottom: 79px;
}

.formulario .campo {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 5px 0 5px 0;
    width: 14rem;
}

.formulario label {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.formulario input {
    border: 2px solid #ADD8E6;
    border-radius: 5px;
    font-size: 1.1rem;
    height: 2.2rem;
    padding-left: 0.5rem;
}

.cantidad_oculto {
    display: none;
}

select {
    border: 2px solid #ADD8E6;
    border-radius: 5px;
    font-size: 1.1rem;
    height: 2.2rem;
    padding-left: 0.5rem;
}

.icono {
    margin-left: 150px;
    width: 15px;
}

.botones {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 30px;
    padding-top: 70px;
    width: 100%;
}

.down {
    padding-top: 110px;
}

.boton {
    background-color: #2CF30B;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    margin: 0 20px;
    padding: 8px;
    text-transform: uppercase;
    width: 120px;
}

.boton .enlace {
    text-decoration: none;
    color: #000;
}


@media screen and (max-width: 1230px) {
    aside {
        bottom: 0;
        left: 22%;
        position: fixed;
        text-transform: uppercase;
        top: 5%;
        right: 0;
    }

    aside h1 {
        font-size: 26px;
        padding: 7px;
        width: 94%;
    }

    .grid-1,
    .grid-2,
    .grid-3 {
        position: relative;
        left: -4%;
    }

    .formulario {
        padding-left: 28px;
    }

    .formulario .campo {
        width: 200px;
    }

    .formulario label {
        font-size: 16px;
    }

    .formulario input {
        font-size: 20px;
        height: 33px;
    }

    select {
        font-size: 16px;
        height: 33px;
    }

    .icono {
        position: fixed;
        margin-left: 130px;
        height: 16px;
        width: 16px;
    }

    .botones {
        margin-right: 70px;
    }


    .boton {
        font-size: 17px;
    }
}

@media screen and (max-width: 1085px) {
    aside {
        left: 23%;
    }

    .formulario {
        padding-left: 98px;
    }

    .formulario .campo {
        width: 190px;
    }

    .formulario label {
        font-size: 15px;
    }

    .formulario input {
        font-size: 20px;
        height: 33px;
    }

    .icono {
        position: fixed;
        margin-left: 120px;
        height: 16px;
        width: 16px;
    }

    .grid-1,
    .grid-2,
    .grid-3 {
        position: relative;
        left: -10%;
    }

    .botones {
        margin-right: 130px;
    }

    .boton {
        font-size: 16px;
    }
}

@media screen and (max-width: 931px) {
    aside {
        left: 24%;
        position: fixed;
    }

    aside h1 {
        font-size: 22px;
        padding: 8px;
        margin-left: 20px;
        width: 94%;
    }

    .formulario {
        padding-left: 48px;
    }

    .formulario .campo {
        width: 175px;
    }

    .formulario label {
        font-size: 14px;
    }

    .formulario input {
        font-size: 20px;
        height: 30px;
    }

    .icono {
        position: fixed;
        margin-left: 120px;
        height: 16px;
        width: 16px;
    }

    .grid-1,
    .grid-2,
    .grid-3 {
        position: relative;
        left: -4%;
    }

    .botones {
        margin-right: 70px;
    }

    .boton {
        font-size: 15px;
    }
}

@media screen and (max-width: 824px) {
    aside {
        left: -4%;
        position: fixed;
    }

    aside h1 {
        font-size: 20px;
        padding: 9px;
        width: 100%;
    }

    .formulario {
        padding-left: 68px;
    }

    .formulario .campo {
        width: 205px;
    }

    .formulario label {
        font-size: 14px;
    }

    .formulario input {
        font-size: 20px;
        height: 30px;
    }

    .grid-1 .campo .icono {
        position: fixed;
        margin-right: -30px;
        height: 16px;
        width: 16px;
    }


    select {
        font-size: 1rem;
        height: 2rem;
    }

    .icono {
        position: fixed;
        right: 75%;
        height: 14px;
        width: 14px;
    }


    .botones {
        margin-right: 20px;
    }

    .boton {
        font-size: 14px;
    }
}


@media screen and (max-width: 724px) {
    aside h1 {
        padding: 10px;
    }

    .formulario {
        padding-left: 68px;
    }

    .formulario .campo {
        width: 11rem;
    }

    .formulario label {
        font-size: 14px;
    }

    .formulario input {
        font-size: 1rem;
        height: 1.8rem;
    }

    .grid-1 .campo .icono {
        position: fixed;
        margin-right: -20px;
        height: 16px;
        width: 16px;
    }


    select {
        font-size: 1rem;
        height: 1.8rem;
    }

    .icono {
        position: fixed;
        height: 12px;
        width: 12px;
    }

    .boton {
        font-size: 13px;
    }
}

@media screen and (max-width: 624px) {
    .formulario {
        padding-left: 68px;
    }

    .formulario .campo {
        width: 9rem;
    }

    .formulario label {
        font-size: 14px;
    }

    .formulario input {
        font-size: 1rem;
        height: 1.8rem;
        width: 150px;
    }

    select {
        font-size: 1rem;
        height: 1.8rem;
        width: 150px;
    }

    .icono {
        position: fixed;
        right: 70%;
        height: 12px;
        width: 12px;
    }

    .grid-1 .campo .icono {
        position: fixed;
        margin-right: 1px;
        height: 16px;
        width: 16px;
    }

    .boton {
        font-size: 12px;
    }
}

@media screen and (max-width: 532px) {
    aside {
        left: -4%;
        position: fixed;
    }

    .formulario {
        padding-left: 38px;
    }

    .formulario .campo {
        width: 9rem;
    }

    .formulario label {
        font-size: 14px;
    }

    .formulario input {
        font-size: 1rem;
        height: 1.8rem;
    }

    .grid-1,
    .grid-2,
    .grid-3 {
        position: relative;
        left: -10px;
    }

    .A {
        margin-bottom: 69px;
    }

    select {
        font-size: 0.8rem;
        height: 1.8rem;
    }

    .boton {
        font-size: 11px;
    }
}