aside {
    bottom: 0;
    left: 20%;
    position: fixed;
    text-transform: uppercase;
    top: 5%;
    right: 0;
}

aside h1 {
    background-color: #009BEF;
    color: #000;
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 97%;
}

.formulario {
    padding-bottom: 25px;
}

thead {
    position: sticky;
    top: 0;
}

.contentedor_tabla {
    height: 77%;
    overflow-y: scroll;
}

.contentedor_tabla::-webkit-scrollbar {
    display: none;
}

table {
    background-color: #ADD8E6;
    border-collapse: collapse;
    height: auto;
    margin-top: 20px;
    width: 97%;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table .activo:hover {
    background-color: #009BEF;
}

table th {
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding: 7px;
    text-align: center;
    background-color: #009BEF;
}

table td {
    border-right: 1px solid;
    cursor: pointer;
    padding: 7px;
    text-align: center;
}

.flex_center {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.btn {
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    padding: 4px;
    width: 75px;
}

.btn-success {
    background-color: #198754;
}

.btn-danger {
    background-color: #dc3545;
}

.btn:active {
    color: #000;
}

.boton {
    background-color: #2CF30B;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 37%;
    padding: 7px 30px;
    text-transform: uppercase;
}

@media screen and (max-width: 1230px) {
    aside {
        bottom: 0;
        left: 22%;
        position: fixed;
        text-transform: uppercase;
        top: 5%;
        right: 0;
    }

    aside h1 {
        font-size: 24px;
        padding: 7px;
        margin-left: 18px;
        width: 90%;
    }


    table {
        margin-top: 20px;
        margin-left: 20px;
        width: 90%;
    }

    table th {
        font-size: 14px;
    }

    table td {
        font-size: 14px;
    }

    .boton {
        font-size: 16px;
    }

    .btn {
        font-size: 11px;
        width: 65px;
    }
}

@media screen and (max-width: 924px) {
    aside {
        left: 26%;
        position: fixed;
    }

    aside h1 {
        font-size: 22px;
        padding: 7px;
    }

    table th {
        font-size: 13px;
    }

    table td {
        font-size: 12px;
    }

    .boton {
        font-size: 14px;
    }
}

@media screen and (max-width: 824px) {
    aside {
        left: -3%;
        position: fixed;
    }

    aside h1 {
        font-size: 20px;
        padding: 7px;
        width: 100%;
    }

    table {
        position: relative;
        left: 4%;
        width: 90%;
    }

    table th {
        font-size: 12px;
    }

    table td {
        font-size: 12px;
    }

    .boton {
        font-size: 15px;
    }
}

@media screen and (max-width: 724px) {

    aside h1 {
        font-size: 20px;
        width: 100%;
    }

    table {
        width: 90%;
    }

    table th {
        font-size: 12px;
    }

    table td {
        font-size: 12px;
    }

    .boton {
        font-size: 13px;
    }
}

@media screen and (max-width: 624px) {
    aside h1 {
        font-size: 18px;
        padding: 6px;
        width: 100%;
    }


    table {
        margin-left: 20px;
        width: 90%;
    }

    table th {
        font-size: 11px;
    }

    table td {
        font-size: 11px;
    }

    .boton {
        font-size: 12px;
    }

    .btn {
        font-size: 10px;
        width: 60px;
    }
}

@media screen and (max-width: 524px) {
    aside {
        left: -4%;
        position: fixed;
        width: 100%;
    }

    aside h1 {
        font-size: 16px;
        padding: 7px;
        width: 100%;
    }

    table {
        position: relative;
        left: 3%;
        width: 95%;
    }

    table th {
        font-size: 9px;
    }

    table td {
        font-size: 9px;
    }

    .boton {
        font-size: 11px;
    }

    .btn {
        font-size: 9px;
        width: 55px;
    }
}