* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

body {
    background: #EAEBEF;
}

main {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 100%;
}

.cabecera_main {
    width: 100%;
}

h1 {
    background-color: #0029FF;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

form {
    margin-top: 100px;
}

input {
    border: 2px solid #ADD8E6;
    border-radius: 5px;
    color: #000;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    flex-flow: column;
    height: 38px;
    text-align: center;
    width: 360px;
}

input::placeholder {
    color: #0029FF;
    padding: 2px;
}

.control {
    margin-bottom: 16px;
}

.botones {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.boton {
    background-color: #2CF30B;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    height: 34px;
    margin: 0 10px;
    width: 100px;
}