* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #EAEBEF;
}

.contenedor_principal {
    position: relative;
    z-index: -1;
}

.navegacion {
    width: 210px;
}

.navegacion_link {
    color: #000;
    display: block;
    padding: 8px 0;
    text-decoration: none;
}

.navegacion_link--inside {
    border-radius: 4px;
    font-size: 12px;
    padding-left: 10px;
    text-align: left;
}

.navegacion_link--inside:hover {
    background: #ADD8E6;
}

.titulogo {
    position: relative;
    bottom: 20px;
}

.logo {
    position: fixed;
    top: 1%;
}

.logo figure img {
    width: 200px;
}

.logo h4 {
    color: black;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    bottom: 18px;
}

.contenedor_menu {
    position: relative;
}

.lista {
    background: #fff;
    border-radius: 0 13px 13px 0;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 1;
}

.lista_imagen {
    height: 30px;
    width: 40px;
}

.lista_item {
    bottom: -1%;
    list-style: none;
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.lista_item--click {
    cursor: pointer;
    
}

.lista_boton {
    align-items: center;
    display: flex;
    gap: 6px;
    margin: 7px;
    width: 70%;
}

.lista_boton--abajo {
    bottom: -1%;
    position: fixed;
}

.arrow .lista_arrow {
    transform: rotate(90deg);
}

.lista_arrow {
    margin-left: 7px;
    transition: transform .3s;
}

.lista_show {
    border-left: 1px solid #303440;
    height: 0;
    list-style: none;
    margin-left: 40px;
    transition: height .4s;
    width: 75%;
}

main {
    bottom: 0;
    left: 20%;
    position: fixed;
    text-transform: uppercase;
    top: 5%;
    right: 0;
}

h1 {
    background-color: #0029FF;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 1040px;
}

.indicaciones_cta {
    padding: 15px 0;
    margin: 10px 0;
    text-align: justify;
}

.indicaciones_cta p {
    align-items: center;
    color: #000;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    margin: 5px 0;
    padding: 3px 0;
    text-align: justify;
    width: 100%;
}

.contenedor_formulario {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.campo {
    padding: 10px 0;
}

label {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    padding: 5px 0;
    margin: 10px;
}

input {
    border: 2px solid #ADD8E6;
    border-radius: 5px;
    box-shadow: none;
    color: #000;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    flex-flow: column;
    height: 35px;
    justify-content: left;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 400px;
}

.boton {
    background-color: #2CF30B;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    margin-left: 25%;
    margin-top: 40px;
    padding: 7px 30px;
    text-transform: uppercase;
}