* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #EAEBEF;
    background-position: center;
    background-size: cover;
    color: #000;
    min-height: 100vh;
}
   
header, .barra-lateral {
    z-index: 1;
}

.inicio {
    text-decoration: none;
}
   
.logo {
    height: 70px;
    margin-top: 10px;
    width: 230px;
}
   
.barra-lateral {
    background: #FFF;
    backdrop-filter: blur(15px);
    border-radius: 0 13px 13px 0;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: 0.6s ease;
    transition-property: left;
    overflow-y: auto;
    width: 240px;
}

.barra-lateral::-webkit-scrollbar {
     width: 0px;
}
   
.barra-lateral.active {
    left: 0;
}
   
header h1 {
    color: black;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: -15px;
    right: 2%;
}
   
.icon {
    height: 30px;
    width: 40px;
}
   
.barra-lateral .menu {
    margin-top: 5px;
    width: 250px;
}
   
.barra-lateral .menu .elemento {
    cursor: pointer;
    left: -10px;
    position: relative;
}
   
.barra-lateral .menu .elemento a {
    align-content: center;
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 10px;
    text-decoration: none;
 }
   
.barra-lateral .menu .elemento a span {
    bottom: 24px;
    position: relative;
}
   
.barra-lateral .menu .elemento a i {
    margin-right: 15px;
    position: relative;
    top: 4px;
}
   
.barra-lateral .menu .elemento a:hover {
    background: #ADD8E6;
    transition: 0.3s ease;
}
   
   
.barra-lateral .menu .elemento a .dropdown {
    margin: 20px;
    position: absolute;
    transition: 0.3s ease;
    right: 0;
}

.barra-lateral .menu .elemento a img {
    margin: 15px;
}
   
.barra-lateral .menu .elemento .sub-menu {
    display: none;
}
   
.barra-lateral .menu .elemento .sub-menu a {
    border-left: 2px solid #303440;
    font-size: 12px;
    font-weight: bold;
    margin-left: 30px;
    padding: 15px;
}

.rotate {
    transform: rotate(90deg);
}

.menu-boton, .cerrar-boton {
    display: none;
}

main {
    bottom: 0;
    left: 20%;
    position: fixed;
    text-transform: uppercase;
    top: 5%;
    right: 0;
}

main h1 {
    background-color: #0029FF;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 95%
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1100px;
    padding-top: 40px;
    overflow: hidden;
}

.informacion_empresa {
    grid-column: 1/7;
}

.empresa {
    padding-left: 40px;
    padding-bottom: 20px;
}

.informacion_empresa input {
    font-size: 16px;
    font-weight: bold;
    background-color: #EAEBEF;
    border: 2px solid #000;
}

.imagen_empresa {
    padding-top: 85px;
    padding-left: 40px;
    height: 215px;
    margin-left: 20px;
    width: 450px;
}

.contenedor_formulario {
    grid-column: 7/12;
    margin-top: 35px;
}

.campo {
    padding: 20px;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input {
    border: 2px solid #ADD8E6;
    border-radius: 5px;
    box-shadow: none;
    color: #000;
    display: flex;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 400px;
}

.botones {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    right: 35px;
    overflow: hidden;
}

.boton {
    background-color: #2CF30B;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    grid-column: 6/11;
    margin-top: 40px;
    padding: 7px 30px;
    text-transform: uppercase;
    width: 250px;
}

@media screen and (max-width: 1224px) {
    .logo {
        width: 200px;
        height: 60px;
    }

    header h1 {
        font-size: 28px;
    }

    .barra-lateral {
        width: 210px;
    }

    .barra-lateral .elemento span {
        font-size: 12px;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 11px;
    }

    .elemento a i {
        left: 71%;
    }

    .barra-lateral .menu .elemento a .dropdown {
        width: 10px;
    }

    main {
        left: 24%;
    }

    main h1 {
        font-size: 24px;
        padding: 7px;
        width: 90%;
    }

    .informacion_empresa .empresa input {
        margin-left: -16px;
        width: 350px;
    }

    .informacion_empresa .empresa_img input {
        margin-left: 30px;
        width: 340px; 
    }

    .contenedor_formulario input {
        width: 270px;
    }

    .botones {
        display: block;
        position: relative;
        left: 17%;
    }

    .boton {
        font-size: 15px;
        margin-top: 20px;
        width: 210px;
    }
}

@media screen and (max-width: 1024px) {
    header h1 {
        font-size: 28px;
    }

    .barra-lateral {
        width: 210px;
    }

    .barra-lateral .elemento span {
        font-size: 12px;
    }

    .elemento a i {
        left: 71%;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 11px;
    }

    .barra-lateral .menu .elemento a .dropdown {
        width: 10px;
    }

    .grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        padding-top: 10px;
        padding-right: 105px;
    }

    .informacion_empresa .empresa_img input {
        margin-left: 40px;
        padding: 55px 10px;
        width: 320px; 
        height: 150px;
    }

    .contenedor_formulario {
        margin-left: 32px;
        padding-top: 0px;
    }

    .contenedor_formulario input {
        width: 300px;
    }

    .botones {
        display: block;
        position: relative;
        left: 20%;
    }

    .boton {
        font-size: 15px;
        margin-top: 20px;
        width: 210px;
    }
}

@media screen and (max-width: 924px) {
    main {
        left: 26%;
        position: fixed;
    }

    main h1 {
        font-size: 22px;
        padding: 7px;
        width: 95%;
    }

    .informacion_empresa .empresa input {
        margin-left: 20px;
    }

    .informacion_empresa .empresa_img input {
        margin-left: 75px;
        padding: 55px 10px;
    }

    .contenedor_formulario {
        margin-left: 62px;
    }

    .botones {
        left: 21%;
    }

    .boton {
        font-size: 14px;
        width: 200px;
    }
}


@media screen and (max-width: 824px) {
    .logo {
        width: 180px;
        height: 50px;
    }

    header h1 {
        font-size: 26px;
        margin-right: 20px;
    }

    .barra-lateral {
        width: 195px;
        left: -205px;
    }

    .barra-lateral .elemento span {
        font-size: 11px;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 10px;
    }

    .elemento a i {
        left: 66%;
    }

    .cerrar-boton,
    .menu-boton {
        display: unset;
    }

    .menu-boton {
        font-size: 25px;
        margin-left: 10px;
    }

    .cerrar-boton {
        font-size: 25px;
        margin-left: 160px;
    }

    main {
        left: -3%;
        position: fixed;
    }

    main h1 {
        font-size: 20px;
        padding: 8px;
        width: 100%;
        text-align: center;
    }

    .grid {
        margin-left: 40px;
    }
}

@media screen and (max-width: 724px) {
    header h1 {
        font-size: 26px;
        margin-right: 20px;
    }

    .barra-lateral {
        width: 195px;
    }

    .barra-lateral .elemento span {
        font-size: 11px;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 10px;
    }

    .elemento a i {
        left: 66%;
    }

    main h1 {
        font-size: 18px;
        padding: 7px;
        width: 100%;
    }
}


@media screen and (max-width: 624px) {
    header h1 {
        font-size: 26px;
        margin-right: 20px;
    }

    .barra-lateral {
        width: 195px;
    }

    .barra-lateral .elemento span {
        font-size: 11px;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 10px;
    }

    .elemento a i {
        left: 66%;
    }

    main h1 {
        font-size: 17px;
        padding: 6px;
        width: 100%;
    }
}

@media screen and (max-width: 524px) {
    header h1 {
        font-size: 26px;
        margin-right: 20px;
    }

    .barra-lateral {
        width: 195px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -205px;
        overflow-y: auto;
        transition: 0.6s ease;
    }

    .barra-lateral .elemento span {
        font-size: 11px;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 10px;
    }

    .barra-lateral .elemento a i {
        position: relative;
        left: 65%;
    }

    .cerrar-boton,
    .menu-boton {
        display: unset;
    }

    .menu-boton {
        font-size: 25px;
        margin-left: 10px;
    }

    .cerrar-boton {
        font-size: 25px;
        margin-left: 160px;
    }

    main {
        left: -4%;
        position: fixed;
        width: 100%;
    }

    main h1 {
        font-size: 16px;
        padding: 6px;
        width: 110%;
    }

    .grid {
        margin-left: 90px;
    }
}