* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: #EAEBEF;
    color: #000;
    background-size: cover;
    background-position: center;
}
   
header, .barra-lateral {
    z-index: 1;
}

.inicio {
    text-decoration: none;
}
   
.logo {
    height: 70px;
    width: 230px;
    margin-top: 10px;
}
   
.barra-lateral {
    background: #FFF;
    backdrop-filter: blur(15px);
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    /* left: -250px; */
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
    border-radius: 0 13px 13px 0;
}

.barra-lateral::-webkit-scrollbar {
     width: 0px;
}
   
.barra-lateral.active {
    left: 0;
}
   
header h1 {
    color: black;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: -15px;
    right: 2%;
}
   
.icon {
   width: 40px;
   height: 30px;
}
   
.barra-lateral .menu {
    margin-top: 5px;
    width: 250px;
}
   
.barra-lateral .menu .elemento {
    position: relative;
    left: -10px;
    cursor: pointer;
}
   
.barra-lateral .menu .elemento a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    display: block;
    align-content: center;
    line-height: 10px;
    font-weight: bold;
 }
   
.barra-lateral .menu .elemento a span {
    position: relative;
    bottom: 24px;
}
   
.barra-lateral .menu .elemento a i {
    position: relative;
    top: 4px;
    margin-right: 15px;
}
   
.barra-lateral .menu .elemento a:hover {
    background: #ADD8E6;
    transition: 0.3s ease;
}
   
   
.barra-lateral .menu .elemento a .dropdown {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.barra-lateral .menu .elemento a img {
    margin: 15px;
}
   
.barra-lateral .menu .elemento .sub-menu {
    /* background: #EAEBEF; */
    display: none;
}
   
.barra-lateral .menu .elemento .sub-menu a {
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
    margin-left: 30px;
    border-left: 2px solid #303440;
}

.rotate {
    transform: rotate(90deg);
}

.menu-boton, .cerrar-boton {
    display: none;
}

main {
    bottom: 0;
    left: 20%;
    position: fixed;
    text-transform: uppercase;
    top: 5%;
    right: 0;
}

main h1 {
    background-color: #0029FF;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 1040px;
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1100px;
    padding-top: 40px;
    overflow: hidden;
}

.informacion_empresa {
    grid-column: 1/7;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0 20px 100px;
}

.imagen-empresa {
    height: 215px;
    padding: 5px 0 0 30px;
    width: 450px;
}

.contenedor_formulario {
    grid-column: 7/12;
}

.campo {
    padding: 20px;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input {
    border: 2px solid #ADD8E6;
    border-radius: 5px;
    box-shadow: none;
    color: #000;
    display: flex;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 400px;
}

.botones {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    right: 35px;
    overflow: hidden;
}

.boton {
    background-color: #2CF30B;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    grid-column: 6/11;
    margin-top: 40px;
    padding: 7px 30px;
    text-transform: uppercase;
    width: 250px;
}

@media screen and (max-width: 1224px) {
    .logo {
        width: 200px;
        height: 60px;
    }

    header h1 {
        font-size: 28px;
    }

    .barra-lateral {
        width: 210px;
    }

    .barra-lateral .elemento span {
        font-size: 12px;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 11px;
    }

    .elemento a i {
        left: 71%;
    }

    main {
        bottom: 0;
        left: 22%;
        position: fixed;
        text-transform: uppercase;
        top: 5%;
        right: 0;
    }

    main h1 {
        font-size: 24px;
        padding: 7px;
        margin-left: 18px;
        width: 90%;

    }

    .grid {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        padding-top: 10px;
        margin-right: 50px;
    }


    h2 {
        font-size: 20px;
        padding: 20px 0;
        margin-left: 50px;
    }

    .imagen-empresa {
        height: 150px;
        margin-right: 30px;
        width: 300px;
    }

    .campo {
        padding: 10px 0;
    }

    label {
        align-items: center;
        display: block;
        justify-content: center;
        text-align: center;
        font-size: 16px;
    }

    input {
        height: 35px;
        font-size: 14px;
        width: 300px;
    }

    .botones {
        display: block;
        position: relative;
        left: 8%;
    }

    .boton {
        font-size: 16px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 924px) {

    main {
        left: 26%;
        position: fixed;
    }

    main h1 {
        font-size: 22px;
        padding: 7px;
    }

    .grid {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        padding-top: 10px;
        margin-right: 50px;
    }

    h2 {
        font-size: 20px;
        padding: 20px 0;
        margin-left: 50px;
    }

    .imagen-empresa {
        height: 150px;
        margin-right: 30px;
        width: 300px;
    }

    .campo {
        padding: 10px 0;
    }

    label {
        align-items: center;
        display: block;
        justify-content: center;
        text-align: center;
        font-size: 16px;
    }

    input {
        height: 35px;
        font-size: 14px;
        width: 300px;
    }

    .botones {
        display: block;
        position: relative;
        left: 8%;
    }

    .boton {
        font-size: 16px;
        margin-top: 20px;
    }
}


@media screen and (max-width: 824px) {
    .logo {
        width: 180px;
        height: 50px;
    }

    header h1 {
        font-size: 26px;
        margin-right: 20px;
    }

    .barra-lateral {
        width: 195px;
        left: -205px;
    }

    .barra-lateral .elemento span {
        font-size: 11px;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 10px;
    }

    .elemento a i {
        left: 66%;
    }

    .cerrar-boton,
    .menu-boton {
        display: unset;
    }

    .menu-boton {
        font-size: 25px;
        margin-left: 10px;
    }

    .cerrar-boton {
        font-size: 25px;
        margin-left: 160px;
    }

    main {
        left: -3%;
        position: fixed;
    }

    main h1 {
        font-size: 20px;
        padding: 7px;
        width: 100%;
        text-align: center;

    }

    .grid {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        padding-top: 10px;
        margin-right: -40px;
    }


    h2 {
        font-size: 20px;
        padding: 20px 0;
    }

    .imagen-empresa {
        height: 150px;
        margin-left: 13px;
        width: 300px;
    }

    .campo {
        padding: 10px 0;
    }

    label {
        align-items: center;
        display: block;
        justify-content: center;
        text-align: center;
        font-size: 16px;
        margin-left: 13px;
    }

    input {
        margin-left: 17px;
        height: 35px;
        font-size: 14px;
        width: 300px;
    }

    .botones {
        margin-left: 18px;
    }

    .boton {
        font-size: 15px;
        margin-top: 20px;
    }
}


@media screen and (max-width: 724px) {
    .logo {
        width: 180px;
        height: 50px;
    }

    header h1 {
        font-size: 26px;
        margin-right: 20px;
    }

    .barra-lateral {
        width: 195px;
    }

    .barra-lateral .elemento span {
        font-size: 11px;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 10px;
    }

    .elemento a i {
        left: 66%;
    }

    main h1 {
        font-size: 18px;
        padding: 7px;
        width: 100%;
    }

    .grid {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        padding-top: 10px;
    }


    h2 {
        font-size: 20px;
        padding: 20px 0;
        margin-left: 50px;
    }

    .imagen-empresa {
        height: 150px;
        margin-right: 30px;
        width: 300px;
    }

    .campo {
        padding: 10px 0;
    }

    label {
        align-items: center;
        display: block;
        justify-content: center;
        text-align: center;
        font-size: 16px;
    }

    input {
        height: 35px;
        font-size: 14px;
        width: 300px;
    }

    .botones {
        margin-left: 40px;

    }

    .boton {
        font-size: 13px;
        width: 200px;
    }
}


@media screen and (max-width: 624px) {
    .logo {
        width: 180px;
        height: 50px;
    }

    header h1 {
        font-size: 26px;
        margin-right: 20px;
    }

    .barra-lateral {
        width: 195px;
    }

    .barra-lateral .elemento span {
        font-size: 11px;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 10px;
    }

    .elemento a i {
        left: 66%;
    }

    main h1 {
        font-size: 20px;
        padding: 6px;
        width: 100%;
    }

    label {

        font-size: 15px;
    }

    input {
        height: 35px;
        font-size: 15px;
        width: 250px;
    }

    .botones {
        margin-left: 5px;
    }

    .boton {
        font-size: 12px;
        width: 150px;
        margin-left: 36px;
    }
}

@media screen and (max-width: 524px) {
    .logo {
        width: 180px;
        height: 50px;
    }

    header h1 {
        font-size: 26px;
        margin-right: 20px;
    }

    .barra-lateral {
        width: 195px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -205px;
        overflow-y: auto;
        transition: 0.6s ease;
    }

    .barra-lateral .elemento span {
        font-size: 11px;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 10px;
    }

    .barra-lateral .elemento a i {
        position: relative;
        left: 65%;
    }

    .cerrar-boton,
    .menu-boton {
        display: unset;
    }

    .menu-boton {
        font-size: 25px;
        margin-left: 10px;
    }

    .cerrar-boton {
        font-size: 25px;
        margin-left: 160px;
    }

    main {
        left: -4%;
        position: fixed;
        width: 100%;
    }

    main h1 {
        font-size: 16px;
        padding: 7px;
        width: 100%;
    }


    main .grid .informacion_empresa h2 {
        font-size: 18px;
        padding: 20px 0;
        margin-left: 50px;
    }

    .imagen-empresa {
        height: 150px;
        margin-left: -1px;
        width: 300px;
    }

    .campo {
        padding: 10px 0;
    }

    label {
        align-items: center;
        display: block;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        margin-right: 5px;
    }

    input {
        height: 35px;
        font-size: 14px;
        width: 250px;
        margin-left: -3px;
    }

    .botones {
        display: block;
        position: relative;
        left: 8%;
    }

    .boton {
        font-size: 12px;
        margin-left: 15px;
        width: 180px;
    }
}