* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #0029FF;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.contenedor_formulario input {
    background-color: #ADD8E6;
    border: none;
    border-radius: 12px;
    margin: 20px 30px;
    padding: 7px;
    text-align: left;
    width: 35%;
}

.icono {
    position: relative;
    right: 30px;
    top: 8px;
    margin-left: 7px;
    width: 23px;
}

table {
    border-collapse: collapse;
    height: auto;
    margin-top: 20px;
    width: 100%;
}

table {
    background-color: #fff;
    border-collapse: collapse;
    height: auto;
    margin-top: 20px;
    width: 100%;
}

table th {
    background-color: #009BEF;
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding: 7px;
    text-align: center;
}

table td {
    border-right: 1px solid;
    padding: 7px;
    text-align: center;
}

table .active:hover {
    background-color: #f2f2f2;
}