<!DOCTYPE html>
<html lang="es-Do">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LISTADOS | LISTADO DE ART&Iacute;CULOS </title>
    <link rel="icon" href="{{ url_for('static', filename='icons/listado_articulos.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listados.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ventanamodal.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
    <script>
        function confirmacion() {
            alert("Esta funcion no esta implementada por el momento.");
        }
    </script>
    <div class="menu-boton">
        <i class="fas fa-bars"></i>
    </div>
    <div class="barra-lateral">
        <header>
            <div class="cerrar-boton">
                <i class="fas fa-times"></i>
            </div>
            <a href="/inicio_inventario" class="inicio">
                <img src="{{ url_for('static', filename='icons/logo.png') }}" class="logo">
                <h1>Inventory</h1>
            </a>
            <div class="menu">
                <div class="elemento">
                    <a class="sub-boton toggle" id="registros">
                        <img class="icon" src="{{ url_for('static', filename='icons/registros.png') }}"><span>REGISTROS</span><i
                            class="fas fa-angle-right dropdown"></i>
                    </a>
                    <div class="sub-menu">
                        <a href="/registrodearticulos" class="sub-elemento">ART&Iacute;CULOS</a>
                        <a href="/registrodeclientes" class="sub-elemento">CLIENTES</a>
                        <a href="/registrodesuplidores" class="sub-elemento">SUPLIDORES</a>
                        <a href="#" class="sub-elemento" id="abrirM">MARCAS</a>
                        <a href="#" class="sub-elemento" id="abrirENV">ENCARGADO DE VENTAS</a>
                        <a href="#" class="sub-elemento" id="abrirENC">ENCARGADO DE COMPRAS</a>
                    </div>
                </div>
                <div class="elemento">
                    <a class="sub-boton toggle" id="procesos">
                        <img class="icon" src="{{ url_for('static', filename='icons/procesos.png') }}"><span>PROCESOS</span><i
                            class="fas fa-angle-right dropdown"></i>
                    </a>
                    <div class="sub-menu">
                        <a href="/compras" class="sub-elemento">COMPRAS</a>
                        <a href="/ventas" class="sub-elemento">VENTAS</a>
                    </div>
                </div>
                <div class="elemento">
                    <a class="sub-boton toggle" id="movimientos">
                        <img class="icon" src="{{ url_for('static', filename='icons/movimientos.png') }}"><span>MOVIMIENTOS</span><i
                            class="fas fa-angle-right dropdown"></i>
                    </a>
                    <div class="sub-menu">
                        <a href="/movimientosdiariocompras" class="sub-elemento">DIARIOS / COMPRAS</a>
                        <a href="/movimientosdiarioventas" class="sub-elemento">DIARIOS / VENTAS</a>
                        <a href="/movimientoporarticulocompras" class="sub-elemento">ART&Iacute;CULO / COMPRAS</a>
                        <a href="/movimientoporarticuloventas" class="sub-elemento">ART&Iacute;CULO / VENTAS</a>
                    </div>
                </div>
                <div class="elemento">
                    <a class="sub-boton toggle" id="listados">
                        <img class="icon" src="{{ url_for('static', filename='icons/listados.png') }}"><span>LISTADOS</span><i
                            class="fas fa-angle-right dropdown"></i>
                    </a>
                    <div class="sub-menu">
                        <a href="/listadodearticulos" class="sub-elemento">LISTADO DE ART&Iacute;CULOS</a>
                        <a href="/listadodeprecios" class="sub-elemento">LISTADO DE PRECIOS</a>
                        <a href="/listadodecompras" class="sub-elemento">LISTADO DE COMPRAS</a>
                        <a href="/listadodeventas" class="sub-elemento">LISTADO DE VENTAS</a>
                        <a href="/listadodeclientes" class="sub-elemento">LISTADO DE CLIENTES</a>
                        <a href="/listadodesuplidores" class="sub-elemento">LISTADO DE SUPLIDORES</a>
                    </div>
                </div>
                <div class="elemento ">
                    <a href="/respaldos" class="toggle" id="respaldos">
                        <img class="icon" src="{{ url_for('static', filename='icons/respaldos.png') }}"
                            alt=""><span>RESPALDOS</span>
                    </a>
                </div>
                <div class="elemento">
                    <a class="sub-boton toggle" id="configuraciones">
                        <img class="icon"
                            src="{{ url_for('static', filename='icons/configuraciones.png') }}"><span>CONFIGURACIONES</span><i
                            class="fas fa-angle-right dropdown"></i>
                    </a>
                    <div class="sub-menu">
                        <a href="/perfil" class="sub-elemento">PERFIL</a>
                        <a href="/cambiarcontrasena" class="sub-elemento">CAMBIAR CONTRASEÑA</a>
                        <a href="#" class="sub-elemento" id="abrirEC">ELIMINAR CUENTA</a>
                        <a href="/terminosycondiciones" class="sub-elemento">T&Eacute;RMINOS & CONDICIONES</a>
                    </div>
                </div>
                <div class="elemento">
                    <a href="/cerrar_sesion">
                        <img class="icon" src="{{ url_for('static', filename='icons/cerrar-sesion.png') }}"><span>CERRAR
                            SESI&Oacute;N</span>
                    </a>
                </div>
            </div>
        </header>
    </div>
    <main>
        <aside>
            <h1>Listado De Art&iacute;culos</h1>
            <div class="formularios">
                <form action="/listadodearticulos/filtrobd" method="post" enctype="multipart/form-data" class="formularios">
                    <div class="contenedor_formulario">
                        <label for="des-codigo">Desde El C&oacute;digo:</label>
                        <input type="text" id="des-codigo" name="des-codigo" autocomplete="off">
                    </div>
                    <div class="contenedor_formulario">
                        <label for="has-codigo">Hasta El C&oacute;digo:</label>
                        <input type="text" id="has-codigo" name="has-codigo" autocomplete="off">
                    </div>
                    <button type="submit" class="filtro"><img src="{{ url_for('static', filename='icons/filtrar.png') }}" alt="buscar" class="icono icono_filtro"></button>
                </form>
                <form action="/listadodearticulos" method="post" enctype="multipart/form-data" class="formularios">
                    <button type="submit" class="reiniciar"><img src="{{ url_for('static', filename='icons/reiniciar.png') }}" alt="Reiniciar" class="icono"></button>
                </form>
            </div>
                <div class="contentedor_tabla">
                    <table class="table">
                        <thead>
                            <th scope="col">C&oacute;digo</th>
                            <th scope="col">Descripci&oacute;n</th>
                            <th scope="col">Ubicaci&oacute;n</th>
                            <th scope="col">Referencia</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Talla</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Gesti&oacute;n</th>
                        </thead>
                        {% if articulo_filtro %}
                            {% for filtro in articulo_filtro %}
                            <tbody class="activo"> 
                                <td>{{ filtro[1] }}</td>
                                <td>{{ filtro[2] }}</td>
                                <td>{{ filtro[6] }}</td>
                                <td>{{ filtro[5] }}</td>
                                <td>{{ filtro[4] }}</td>
                                <td>{{ filtro[3] }}</td>
                                <td>{{ filtro[10] }}</td>
                                <td>{{ filtro[8] }}</td>
                                <td class="flex_icon">
                                    <button><a href="/editararticulo/{{ filtro[0] }}"><input type="hidden" id="id_articulo" name="id_articulo" value="{{ filtro[0] }}"><img src="{{ url_for('static', filename='icons/boton_editar.png') }}" alt="Editar" class="editar_eliminar"></a></button>
                                    <form action="/listadodearticulos/eliminar/bd" method="post" enctype="multipart/form-data" class="editar_eliminar form_eliminar">
                                        <button type="submit">
                                            <input type="hidden" id="id_articulo" name="id_articulo" value="{{ filtro[0] }}">
                                            <img src="{{ url_for('static', filename='icons/boton_eliminar.png') }}" alt="Eliminar"
                                                class="editar_eliminar">
                                        </button>
                                    </form>
                                </td>
                            </tbody>
                            {% endfor %}
                        {% else %}
                            {% for articulo in articulos %}
                            <tbody class="activo"> 
                                <td>{{ articulo[1] }}</td>
                                <td>{{ articulo[2] }}</td>
                                <td>{{ articulo[6] }}</td>
                                <td>{{ articulo[5] }}</td>
                                <td>{{ articulo[4] }}</td>
                                <td>{{ articulo[3] }}</td>
                                <td>{{ articulo[10] }}</td>
                                <td>{{ articulo[8] }}</td>
                                <td class="flex_icon">
                                    <button><a href="/editararticulo/{{ articulo[0] }}"><input type="hidden" id="id_articulo" name="id_articulo" value="{{ articulo[0] }}"><img src="{{ url_for('static', filename='icons/boton_editar.png') }}" alt="Editar" class="editar_eliminar"></a></button>
                                    <form action="/listadodearticulos/eliminar/bd" method="post" enctype="multipart/form-data" class="editar_eliminar form_eliminar">
                                        <button type="submit">
                                            <input type="hidden" id="id_articulo" name="id_articulo" value="{{ articulo[0] }}">
                                            <img src="{{ url_for('static', filename='icons/boton_eliminar.png') }}" alt="Eliminar" class="editar_eliminar">
                                        </button>
                                    </form>
                                </td>
                            </tbody>
                            {% endfor %}
                        {% endif %}
                        <tfoot>
                            <th colspan="4">Total De Articulos = {{ articulos|length }}</th>
                            <th colspan="5">Precio Total = {{ precio_total_articulos }}</th>
                        </tfoot>
                    </table>
                </div>
                <button type="submit" class="boton" value="Grabar" onclick="confirmacion()">Imprimir</button>
        </aside>
        <div id="miModalM" class="modal">
            <div class="flex" id="flexM">
                <div class="contenido-modal">
                    <div class="modal-header flex">
                        <h2>CREADOR DE MARCAS</h2>
                        <span class="close" id="closeM">&times;</span>
                    </div>
                    <div class="modal-body">
                        <form action="/listadodearticulos/marcas/bd" method="post" enctype="multipart/form-data"
                            class="formulario-">
                            <div class="campo-">
                                <input type="text" name="codigo_marca" id="codigo_marca" placeholder="Ingrese el C&oacute;digo">
                            </div>
                            <div class="campo-">
                                <input type="text" name="nombre_marca" id="nombre_marca" placeholder="Ingrese el Nombre">
                            </div>
                            <div class="botones-">
                                <button type="reset" class="boton-">Borrar</button>
                                <button type="submit" class="boton-">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="miModalENV" class="modal">
            <div class="flex" id="flexENV">
                <div class="contenido-modal">
                    <div class="modal-header flex">
                        <h2>CREADOR DE ENCARGADO DE VENTAS</h2>
                        <span class="close" id="closeENV">&times;</span>
                    </div>
                    <div class="modal-body">
                        <form action="/listadodearticulos/encVentas/bd" method="post" enctype="multipart/form-data"
                            class="formulario-">
                            <div class="campo-">
                                <input type="text" name="codigo_enc_ventas" id="codigo_enc_ventas"
                                    placeholder="Ingrese el C&oacute;digo">
                            </div>
                            <div class="campo-">
                                <input type="text" name="nombre_enc_ventas" id="nombre_enc_ventas"
                                    placeholder="Ingrese el Nombre">
                            </div>
                            <div class="botones-">
                                <button type="reset" class="boton-">Borrar</button>
                                <button type="submit" class="boton-">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="miModalENC" class="modal">
            <div class="flex" id="flexENC">
                <div class="contenido-modal">
                    <div class="modal-header flex">
                        <h2>CREADOR DE ENCARGADO DE COMPRAS</h2>
                        <span class="close" id="closeENC">&times;</span>
                    </div>
                    <div class="modal-body">
                        <form action="/listadodearticulos/encCompras/bd" method="post" enctype="multipart/form-data"
                            class="formulario-">
                            <div class="campo-">
                                <input type="text" name="codigo_enc_compras" id="codigo_enc_compras"
                                    placeholder="Ingrese el C&oacute;digo">
                            </div>
                            <div class="campo-">
                                <input type="text" name="nombre_enc_compras" id="nombre_enc_compras"
                                    placeholder="Ingrese el Nombre">
                            </div>
                            <div class="botones-">
                                <button type="reset" class="boton-">Borrar</button>
                                <button type="submit" class="boton-">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="miModalEC" class="modal">
            <div class="flex" id="flexEC">
                <div class="contenido-modal">
                    <div class="modal-header flex">
                        <h2>ELIMINACI&oacute;N DE CUENTA</h2>
                        <span class="close" id="closeEC">&times;</span>
                    </div>
                    <div class="modal-body">
                        <form action="/listadodearticulos/eliminar_cuenta/bd" method="post" enctype="multipart/form-data"
                            class="formulario-">
                            <div class="campo">
                                <p>¿Seguro que desea eliminar su cuenta?</p>
                            </div>
                            <div class="botones-">
                                <a href="/listadodearticulos"><button type="button" class="boton-">Atr&aacute;s</button></a>
                                <a href="/listadodearticulos/eliminar_cuenta/bd"><button type="submit" id="id_registro_usuario"
                                        name="id_registro_usuario" class="boton-">Eliminar</button></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='JS/menuDesplegable.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/ventanaModal.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/active.js') }}"></script>
    <script src="https://kit.fontawesome.com/fa9d163aa9.js" crossorigin="anonymous"></script>
</body>
</html>