* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: #EAEBEF;
    color: #000;
    background-size: cover;
    background-position: center;
}
   
header, .barra-lateral {
    z-index: 1;
}

.inicio {
    text-decoration: none;
}
   
.logo {
    height: 70px;
    width: 230px;
    margin-top: 10px;
}
   
.barra-lateral {
    background: #FFF;
    backdrop-filter: blur(15px);
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    /* left: -250px; */
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
    border-radius: 0 13px 13px 0;
}

.barra-lateral::-webkit-scrollbar {
     width: 0px;
}
   
.barra-lateral.active {
    left: 0;
}
   
header h1 {
    color: black;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: -15px;
    right: 2%;
}
   
.icon {
   width: 40px;
   height: 30px;
}
   
.barra-lateral .menu {
    margin-top: 5px;
    width: 250px;
}
   
.barra-lateral .menu .elemento {
    position: relative;
    left: -10px;
    cursor: pointer;
}
   
.barra-lateral .menu .elemento a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    display: block;
    align-content: center;
    line-height: 10px;
    font-weight: bold;
 }
   
.barra-lateral .menu .elemento a span {
    position: relative;
    bottom: 24px;
}
   
.barra-lateral .menu .elemento a i {
    position: relative;
    top: 4px;
    margin-right: 15px;
}
   
.barra-lateral .menu .elemento a:hover {
    background: #ADD8E6;
    transition: 0.3s ease;
}
   
   
.barra-lateral .menu .elemento a .dropdown {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.barra-lateral .menu .elemento a img {
    margin: 15px;
}
   
.barra-lateral .menu .elemento .sub-menu {
    /* background: #EAEBEF; */
    display: none;
}
   
.barra-lateral .menu .elemento .sub-menu a {
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
    margin-left: 30px;
    border-left: 2px solid #303440;
}

.rotate {
    transform: rotate(90deg);
}

.menu-boton, .cerrar-boton {
    display: none;
}

main {
    bottom: 10%;
    left: 12%;
    position: fixed;
    top: 5%;
    right: 0;
    background-image: url(../../icons/logo.png);
    background-repeat: repeat-y;
    background-position: center;
    filter: opacity(0.4);
}

@media screen and (max-width: 1024px) {
    .navegacion {
        width: 190px;
    }

    .navegacion_link {
        font-size: 13px;
    }

    .navegacion_link--inside {
        font-size: 11px;
    }

    .titulogo {
        position: relative;
        bottom: 20px;
    }

    .logo figure img {
        width: 190px;
    }

    .logo h4 {
        font-size: 27px;
    }

    .lista {
        font-size: 12px;
    }

    .lista_imagen {
        height: 28px;
        width: 38px;
    }

    .posicion {
        position: fixed;
        left: 162px;
    }

    main {
        background-size: 300px;
        background-repeat: space;
        left: 40%;
        position: fixed;
    }
}

@media screen and (max-width: 768px) {
    .navegacion {
        width: 200px;
    }

    .logo figure img {
        width: 200px;
    }

    .logo h4 {
        font-size: 28px;
    }

    main {
        background-size: 400px;
        background-repeat: space;
        left: 30%;
        position: fixed;
    }
}

@media screen and (max-width: 425px) {
    .navegacion {
        width: 160px;
    }

    .navegacion_link {
        font-size: 11px;
    }

    .navegacion_link--inside {
        font-size: 11px;
    }

    .logo figure img {
        width: 160px;
    }

    .logo h4 {
        font-size: 24px;
    }

    .lista {
        font-size: 12px;
    }

    .lista_imagen {
        height: 24px;
        width: 34px;
    }

    .posicion {
        position: fixed;
        left: 133px;
    }

    main {
        background-size: 280px;
        background-repeat: space;
        left: 36%;
        position: fixed;
    }
}

@media screen and (max-width: 375px) {
    .navegacion {
        width: 140px;
    }

    .navegacion_link {
        font-size: 9px;
    }

    .navegacion_link--inside {
        font-size: 9px;
    }

    .logo figure img {
        width: 140px;
    }

    .logo h4 {
        font-size: 21px;
        position: fixed;
        top: 5%;
        left: 6%;
    }

    .lista {
        font-size: 11px;
    }

    .lista_imagen {
        height: 20px;
        width: 30px;
    }

    .lista_arrow {
        height: 20px;
    }

    .posicion {
        position: fixed;
        left: 115px;
    }

    main {
        background-size: 240px;
        background-repeat: space;
        left: 36%;
        position: fixed;
    }
}

@media screen and (max-width: 320px) {
    .navegacion {
        width: 120px;
    }

    .navegacion_link {
        font-size: 8px;
    }

    .navegacion_link--inside {
        font-size: 8px;
    }

    .logo figure img {
        width: 120px;
    }

    .logo h4 {
        font-size: 18px;
    }

    .lista {
        font-size: 10px;
    }

    .lista_item {
        margin-bottom: 25px;
    }

    .lista_imagen {
        height: 18px;
        width: 28px;
    }

    .lista_arrow {
        height: 18px;
    }

    .posicion {
        position: fixed;
        left: 98px;
    }

    main {
        background-size: 200px;
        background-repeat: space;
    }
}

@media screen and (max-width: 280px) {
    .navegacion {
        width: 110px;
    }

    .navegacion_link {
        font-size: 7px;
    }

    .navegacion_link--inside {
        font-size: 7px;
    }

    .logo figure img {
        width: 110px;
    }

    .logo h4 {
        font-size: 16px;
    }

    .lista {
        font-size: 9px;
    }

    .lista_item {
        margin-bottom: 20px;
    }

    .lista_imagen {
        height: 15px;
        width: 25px;
    }

    .lista_arrow {
        height: 15px;
    }

    .posicion {
        position: fixed;
        left: 88px;
    }

    main {
        background-size: 180px;
        background-repeat: space;
    }
}