* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: #EAEBEF;
    color: #000;
    background-size: cover;
    background-position: center;
}
   
header, .barra-lateral {
    z-index: 1;
}

.inicio {
    text-decoration: none;
}
   
.logo {
    height: 70px;
    width: 230px;
    margin-top: 10px;
}
   
.barra-lateral {
    background: #FFF;
    backdrop-filter: blur(15px);
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    /* left: -250px; */
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
    border-radius: 0 13px 13px 0;
}

.barra-lateral::-webkit-scrollbar {
     width: 0px;
}
   
.barra-lateral.active {
    left: 0;
}
   
header h1 {
    color: black;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: -15px;
    right: 2%;
}
   
.icon {
   width: 40px;
   height: 30px;
}
   
.barra-lateral .menu {
    margin-top: 5px;
    width: 250px;
}
   
.barra-lateral .menu .elemento {
    position: relative;
    left: -10px;
    cursor: pointer;
}
   
.barra-lateral .menu .elemento a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    display: block;
    align-content: center;
    line-height: 10px;
    font-weight: bold;
 }
   
.barra-lateral .menu .elemento a span {
    position: relative;
    bottom: 24px;
}
   
.barra-lateral .menu .elemento a i {
    position: relative;
    top: 4px;
    margin-right: 15px;
}
   
.barra-lateral .menu .elemento a:hover {
    background: #ADD8E6;
    transition: 0.3s ease;
}
   
   
.barra-lateral .menu .elemento a .dropdown {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.barra-lateral .menu .elemento a img {
    margin: 15px;
}
   
.barra-lateral .menu .elemento .sub-menu {
    /* background: #EAEBEF; */
    display: none;
}
   
.barra-lateral .menu .elemento .sub-menu a {
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
    margin-left: 30px;
    border-left: 2px solid #303440;
}

.rotate {
    transform: rotate(90deg);
}

.menu-boton, .cerrar-boton {
    display: none;
}

main {
    bottom: 10%;
    left: 12%;
    position: fixed;
    top: 5%;
    right: 0;
    background-image: url(../../icons/logo.png);
    background-repeat: repeat-y;
    background-position: center;
    filter: opacity(0.4);
}

@media screen and (max-width: 1024px) {
    .logo {
        width: 200px;
        height: 60px;
    }

    header h1 {
        font-size: 28px;
    }

    .barra-lateral {
        width: 210px;
    }

    .barra-lateral .elemento span {
        font-size: 12px;
    }

    .elemento a i {
        left: 71%;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 11px;
    }

    .barra-lateral .menu .elemento a .dropdown {
        width: 10px;
    }

    main {
        background-size: 500px;
        background-repeat: space;
        left: 30%;
        position: fixed;
    }
}

@media screen and (max-width: 824px) {
    .logo {
        width: 180px;
        height: 50px;
    }

    header h1 {
        font-size: 26px;
        margin-right: 20px;
    }

    .barra-lateral {
        width: 195px;
        left: -205px;
    }


    .barra-lateral .elemento span {
        font-size: 11px;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 10px;
    }

    .elemento a i {
        left: 66%;
    }

    .cerrar-boton,
    .menu-boton {
        display: unset;
    }

    .menu-boton {
        font-size: 25px;
        margin-left: 10px;
    }

    .cerrar-boton {
        font-size: 25px;
        margin-left: 160px;
    }

    main {
        background-size: 450px;
        background-repeat: space;
        left: 0%;
        position: fixed;
    }
}


@media screen and (max-width: 524px) {
    .logo {
        width: 180px;
        height: 50px;
    }

    header h1 {
        font-size: 26px;
        margin-right: 20px;
    }



    .barra-lateral {
        backdrop-filter: blur(15px);
        width: 195px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -205px;
        overflow-y: auto;
        transition: 0.6s ease;
        transition-property: left;
        border-radius: 0 13px 13px 0;
    }

    .barra-lateral .elemento span {
        font-size: 11px;
    }

    .barra-lateral .elemento .sub-menu a {
        font-size: 10px;
    }

    .barra-lateral .elemento a i {
        position: relative;
        left: 65%;
    }

    .cerrar-boton,
    .menu-boton {
        display: unset;
    }

    .menu-boton {
        font-size: 25px;
        margin-left: 10px;
    }

    .cerrar-boton {
        font-size: 25px;
        margin-left: 160px;
    }

    main {
        background-size: 280px;
        background-repeat: space;
        left: 2%;
        position: fixed;
    }
}