* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #EAEBEF;
}

.contenedor_principal {
    position: relative;
    z-index: -1;
}

.navegacion {
    width: 210px;
}

.navegacion_link {
    color: #000;
    display: block;
    padding: 8px 0;
    text-decoration: none;
}

.navegacion_link--inside {
    border-radius: 4px;
    font-size: 12px;
    padding-left: 10px;
    text-align: left;
}

.navegacion_link--inside:hover {
    background: #ADD8E6;
}

.titulogo {
    position: relative;
    bottom: 20px;
}

.logo {
    position: fixed;
    top: 1%;
}

.logo figure img {
    width: 200px;
}

.logo h4 {
    color: black;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    bottom: 18px;
}

.contenedor_menu {
    position: relative;
}

.lista {
    background: #fff;
    border-radius: 0 13px 13px 0;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 1;
}

.lista_imagen {
    height: 30px;
    width: 40px;
}

.lista_item {
    bottom: -1%;
    list-style: none;
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.lista_item--click {
    cursor: pointer;
}

.lista_boton {
    align-items: center;
    display: flex;
    gap: 6px;
    margin: 7px;
    width: 70%;
}

.lista_boton--abajo {
    bottom: -1%;
    position: fixed;
}

.arrow .lista_arrow {
    transform: rotate(90deg);
}

.lista_arrow {
    margin-left: 7px;
    transition: transform .3s;
}

.posicion {
    position: fixed;
    left: 170px;
}

.lista_show {
    border-left: 1px solid #303440;
    height: 0;
    list-style: none;
    margin-left: 40px;
    transition: height .4s;
    width: 75%;
}

main {
    bottom: 10%;
    left: 12%;
    position: fixed;
    top: 5%;
    right: 0;
    background-image: url(../../icons/logo.png);
    background-repeat: repeat-y;
    background-position: center;
    filter: opacity(0.4);
}

@media screen and (max-width: 1024px) {
    .navegacion {
        width: 190px;
    }

    .navegacion_link {
        font-size: 13px;
    }

    .navegacion_link--inside {
        font-size: 11px;
    }

    .titulogo {
        position: relative;
        bottom: 20px;
    }

    .logo figure img {
        width: 190px;
    }

    .logo h4 {
        font-size: 27px;
    }

    .lista {
        font-size: 12px;
    }

    .lista_imagen {
        height: 28px;
        width: 38px;
    }

    .posicion {
        position: fixed;
        left: 162px;
    }

    main {
        background-size: 300px;
        background-repeat: space;
        left: 40%;
        position: fixed;
    }
}

@media screen and (max-width: 768px) {
    .navegacion {
        width: 200px;
    }

    .logo figure img {
        width: 200px;
    }

    .logo h4 {
        font-size: 28px;
    }

    main {
        background-size: 400px;
        background-repeat: space;
        left: 30%;
        position: fixed;
    }
}

@media screen and (max-width: 425px) {
    .navegacion {
        width: 160px;
    }

    .navegacion_link {
        font-size: 11px;
    }

    .navegacion_link--inside {
        font-size: 11px;
    }

    .logo figure img {
        width: 160px;
    }

    .logo h4 {
        font-size: 24px;
    }

    .lista {
        font-size: 12px;
    }

    .lista_imagen {
        height: 24px;
        width: 34px;
    }

    .posicion {
        position: fixed;
        left: 133px;
    }

    main {
        background-size: 280px;
        background-repeat: space;
        left: 36%;
        position: fixed;
    }
}

@media screen and (max-width: 375px) {
    .navegacion {
        width: 140px;
    }

    .navegacion_link {
        font-size: 9px;
    }

    .navegacion_link--inside {
        font-size: 9px;
    }

    .logo figure img {
        width: 140px;
    }

    .logo h4 {
        font-size: 21px;
        position: fixed;
        top: 5%;
        left: 6%;
    }

    .lista {
        font-size: 11px;
    }

    .lista_imagen {
        height: 20px;
        width: 30px;
    }

    .lista_arrow {
        height: 20px;
    }

    .posicion {
        position: fixed;
        left: 115px;
    }

    main {
        background-size: 240px;
        background-repeat: space;
        left: 36%;
        position: fixed;
    }
}

@media screen and (max-width: 320px) {
    .navegacion {
        width: 120px;
    }

    .navegacion_link {
        font-size: 8px;
    }

    .navegacion_link--inside {
        font-size: 8px;
    }

    .logo figure img {
        width: 120px;
    }

    .logo h4 {
        font-size: 18px;
    }

    .lista {
        font-size: 10px;
    }

    .lista_item {
        margin-bottom: 25px;
    }

    .lista_imagen {
        height: 18px;
        width: 28px;
    }

    .lista_arrow {
        height: 18px;
    }

    .posicion {
        position: fixed;
        left: 98px;
    }

    main {
        background-size: 200px;
        background-repeat: space;
    }
}

@media screen and (max-width: 280px) {
    .navegacion {
        width: 110px;
    }

    .navegacion_link {
        font-size: 7px;
    }

    .navegacion_link--inside {
        font-size: 7px;
    }

    .logo figure img {
        width: 110px;
    }

    .logo h4 {
        font-size: 16px;
    }

    .lista {
        font-size: 9px;
    }

    .lista_item {
        margin-bottom: 20px;
    }

    .lista_imagen {
        height: 15px;
        width: 25px;
    }

    .lista_arrow {
        height: 15px;
    }

    .posicion {
        position: fixed;
        left: 88px;
    }

    main {
        background-size: 180px;
        background-repeat: space;
    }
}