* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EAEBEF;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1100px;
    height: 100%;
    margin: auto;
    gap: 10px;
    overflow: hidden;
    align-items: center
}

header {
    background-color: #00000010;
    backdrop-filter: blur(12px);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(12px);
    width: 100%;
}

.logo {
    align-items: center;
    display: grid;
    flex-flow: column;
    justify-content: center;
    grid-column: 1/6;
    width: 100%;
}


.titulo {
    font-family: 'Open Sans', italic;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.logo_inicio {
    height: 300%;
    padding: 5px 0;
    width: 450px;
}

main {
    align-items: center;
    display: flex;
    flex-flow: column;
    grid-column: 6/12;
    padding-top: 30px;
}

.subtitulo {
    background-color: #0029FF;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 600px;
}

.contenedor_formulario form {
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    height: 100%;
    padding-top: 20px;
    width: 100%;
}

.campo {
    padding: 14px 0;
}

label {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    margin: 10px;
}

input {
    border: 2px solid #ADD8E6;
    border-radius: 5px;
    box-shadow: none;
    color: #000;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    flex-flow: column;
    height: 35px;
    justify-content: left;
    padding: 10px;
    text-align: center;
    width: 450px;
}

input::placeholder {
    color: #0029FF;
    padding: 2px;
    text-transform: uppercase;
}

.olvcon {
    padding: 2px 0 20px 0;
}

.enlace_olvcon {
    color: #0029FF;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    right: 130px;
}

.boton_inicio {
    background-color: #2CF30B;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    width: 120px;
}

.reg_usuario {
    display: flex;
    position: relative;
    padding: 20px 0 5px 0;
    right: 60px;
}

.subtitulo- {
    font-family: 'Open Sans', italic;
    font-size: 16px;
    font-weight: 600;
    padding: 2px;
}

.enlace_reg {
    color: #0029FF;
    font-family: 'Open Sans', italic;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    padding: 2.4px 5px;
}

.enlaces_reg {
    margin: 10px 0;
}

a {
    font-size: 28px;
    padding: 10px 0;
    text-decoration: none;
}

a button {
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Open Sans', italic;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    width: 380px;
}

.boton_google {
    box-shadow: 0.5px 0.5px 1px 1px orangered;
}

.boton_facebook {
    box-shadow: 0.5px 0.5px 1px 1px blue;
}

a button i {
    color: white;
    padding: 0 8px 0 0;
    font-size: 20px;
}

.fa-google {
    color: orangered;
    
}

.fa-facebook {
    color: blue;
}

@media screen and (max-width: 1024px) {

    body,
    header,
    main {
        align-items: center;
        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    header,
    .logo {
        background: none;
        padding-top: 0px;
    }

    .logo_inicio {
        height: 80px;
        width: 260px;
    }

    .titulo {
        font-size: 35px
    }

    .cabecera_main {
        margin-top: 0;
    }

    .subtitulo {
        margin-top: 0;
        font-size: 17px;
    }

    .contenedor_formulario {
        padding: 0;
        margin-top: 0;
    }

    .campo {
        margin: 0;
        padding: 0;
    }

    .contenedor_formulario label {
        font-size: 16px
    }

    .contenedor_formulario input {
        height: 34px;
        width: 300px;
    }

    .contenedor_formulario input::placeholder {
        font-size: 13px;
    }

    .olvcon {
        margin-left: 150px;
    }

    .enlace_olvcon {
        margin-top: 0;
        font-size: 13px;
    }

    .boton_inicio {
        height: 38px;
        font-size: 18px;
        margin-top: 0;
        width: 100px;
    }

    .reg_usuario {
        margin-left: 90px;
        margin-top: 0;
    }

    .subtitulo-,
    .enlace_reg {
        font-size: 13px;
    }

    .enlaces_reg {
        margin-top: 0;
    }

    .enlaces_reg a button {
        height: 36px;
        width: 260px;
    }

    a button i {
        font-size: 19px
    }
}

@media screen and (max-width: 425px) {

    header,
    .logo {
        padding-top: 0px;
        margin-left: 3px;
    }

    .logo_inicio {
        height: 100px;
        width: 270px;
    }

    .titulo {
        font-size: 35px
    }

    .cabecera_main {
        margin-top: 0;
    }

    .subtitulo {
        margin-top: 0;
        margin-left: 5px;
        font-size: 18px;
    }

    .contenedor_formulario {
        padding: 0;
        margin-top: 0;
        margin-left: 10px;
    }

    .campo {
        margin: 0;
        padding: 0;
    }

    .contenedor_formulario label {
        font-size: 16px
    }

    .contenedor_formulario input {
        height: 34px;
        width: 240px;
    }

    .contenedor_formulario input::placeholder {
        font-size: 12px;
    }

    .olvcon {
        margin-left: 190px;
    }

    .enlace_olvcon {
        margin-top: 0;
        font-size: 12px;
    }

    .boton_inicio {
        height: 36px;
        font-size: 16px;
        margin-top: 0;
        width: 90px;
    }

    .reg_usuario {
        margin-left: 110px;
        margin-top: 0;
    }

    .subtitulo-,
    .enlace_reg {
        font-size: 12px;
    }

    .enlaces_reg {
        margin-left: 6px;
        margin-top: 0;
    }

    .enlaces_reg a button {
        height: 38px;
        width: 230px;
    }

    a button {
        font-size: 14px;
    }

    a button i {
        font-size: 18px;
    }
}

@media screen and (max-width: 375px) {

    header,
    .logo {
        padding-top: 0px;
        margin-left: 20px;
    }

    .logo_inicio {
        height: 90px;
        width: 240px;
    }

    .titulo {
        font-size: 32px
    }

    .cabecera_main {
        margin-top: 0;
    }

    .subtitulo {
        margin-top: 0;
        margin-left: 40px;
        font-size: 18px;
    }

    .contenedor_formulario {
        padding: 0;
        margin-top: 0;
        margin-left: 40px;
    }

    .campo {
        margin: 0;
        padding: 0;
    }

    .contenedor_formulario label {
        font-size: 14px
    }

    .contenedor_formulario input {
        height: 34px;
        width: 240px;
    }

    .contenedor_formulario input::placeholder {
        font-size: 11px;
    }

    .olvcon {
        margin-left: 210px;
    }

    .enlace_olvcon {
        margin-top: 0;
        font-size: 11px;
    }

    .boton_inicio {
        height: 34px;
        font-size: 14px;
        margin-top: 0;
        margin-left: 30px;
        width: 80px;
    }

    .reg_usuario {
        margin-left: 130px;
        margin-top: 0;
    }

    .subtitulo-,
    .enlace_reg {
        font-size: 11px;
    }

    .enlaces_reg {
        margin-left: 36px;
        margin-top: 0;
    }

    .enlaces_reg a button {
        height: 36px;
        width: 230px;
    }

    a button {
        font-size: 13px;
    }

    a button i {
        font-size: 17px
    }
}

@media screen and (max-width: 320px) {

    header,
    .logo {
        padding-top: 0px;
        margin-left: 40px;
    }

    .logo_inicio {
        height: 90px;
        width: 240px;
    }

    .titulo {
        font-size: 32px
    }

    .cabecera_main {
        margin-top: 0;
    }

    .subtitulo {
        margin-top: 0;
        margin-left: 80px;
        font-size: 15px;
    }

    .contenedor_formulario {
        padding: 0;
        margin-top: 0;
        margin-left: 80px;
    }

    .campo {
        margin: 0;
        padding: 0;
    }

    .contenedor_formulario label {
        font-size: 14px
    }

    .contenedor_formulario input {
        height: 33px;
        width: 220px;
    }

    .contenedor_formulario input::placeholder {
        font-size: 11px;
    }

    .olvcon {
        margin-left: 250px;
    }

    .enlace_olvcon {
        margin-top: 0;
        font-size: 10px;
    }

    .boton_inicio {
        height: 32px;
        font-size: 14px;
        margin-top: 0;
        margin-left: 70px;
        width: 70px;
    }

    .reg_usuario {
        margin-left: 180px;
        margin-top: 0;
    }

    .subtitulo-,
    .enlace_reg {
        font-size: 10px;
    }

    .enlaces_reg {
        margin-left: 85px;
        margin-top: 0;
    }

    .enlaces_reg a button {
        height: 32px;
        width: 200px;
    }

    a button {
        font-size: 12px;
    }

    a button i {
        font-size: 15px
    }
}

@media screen and (max-width: 280px) {

    header,
    .logo {
        padding-top: 0px;
        margin-right: 28px;
    }

    .logo_inicio {
        height: 80px;
        width: 240px;
    }

    .titulo {
        font-size: 32px
    }

    .cabecera_main {
        margin-top: 0;
    }

    .subtitulo {
        margin-right: 54px;
        margin-top: 0;
        font-size: 15px;
    }

    .contenedor_formulario {
        padding: 0;
        margin-top: 0;
        margin-right: 48px;
    }

    .campo {
        margin: 0;
        padding: 0;
    }

    .contenedor_formulario label {
        font-size: 14px
    }

    .contenedor_formulario input {
        height: 30px;
        width: 200px;
    }

    .contenedor_formulario input::placeholder {
        font-size: 11px;
    }

    .olvcon {
        margin-left: 210px;
    }

    .enlace_olvcon {
        margin-top: 0;
        font-size: 11px;
    }

    .boton_inicio {
        height: 32px;
        font-size: 14px;
        margin-top: 0;
        margin-right: 40px;
        width: 70px;
    }

    .reg_usuario {
        margin-left: 120px;
        margin-top: 0;
    }

    .subtitulo-,
    .enlace_reg {
        font-size: 11px;
    }

    .enlaces_reg {
        margin-left: 5px;
        margin-top: 0;
    }

    .enlaces_reg a button {
        height: 33px;
        width: 210px;
    }

    a button {
        font-size: 15px;
    }

    a button i {
        font-size: 18px
    }
}