* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EAEBEF;
    width: 100%;
}

header {
    text-align: center;
    padding: 30px;
    width: 100%;
}

h1 {
    background-color: #0029FF;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    flex-flow: column;
    padding: 20px 0 0 15px;
}


.iconos_tar {
    display: flex;
    font-size: 40px;
    height: 100%;
    justify-content: right;
    position: relative;
    top: 50px;
    width: 100%;
}

.fa-cc-visa {
    background: #fff;
    border-radius: 5px;
    color: blue;
}

.fa-cc-mastercard {
    background: #000;
    border-radius: 5px;
    color: orangered;
    margin-left: 5px;
}

.nomape_tar {
    align-items: center;
    display: flex;
    flex-flow: column;
    padding-bottom: 40px;
    text-transform: uppercase;
}

label {
    font-size: 20px;
    font-weight: bold;
    padding: 8px 0 0 0;
    margin: 10px;
}

input {
    border: 2px solid #ADD8E6;
    border-radius: 5px;
    box-shadow: none;
    color: #000;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 0 0;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

input::placeholder {
    color: #0029FF;
    padding: 2px;
}

.contenedor_mac {
    margin: 0 8px;
    text-transform: uppercase;
    width: 100%;
}

.contenedor_mac label {
    font-size: 16px;
}

.contenedor_mac input {
    width: 80px;
}


.botones {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.boton {
    background-color: #2CF30B;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    margin: 0 10px;
    padding: 8px;
    text-transform: uppercase;
    width: 120px;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 22px;
        padding: 15px;
    }

    .iconos_tar {
        font-size: 30px;
        height: 90%;
    }

    .nomape_tar {
        padding-bottom: 35px;
    }

    label {
        font-size: 19px;
    }

    input {
        height: 34px;
        font-size: 13px;
    }

    .contenedor_mac {
        margin: 0;
        padding: 0;
    }

    .contenedor_mac label {
        font-size: 16px;
    }

    .contenedor_mac input {
        height: 32px;
        width: 70px;
    }


    .botones {
        padding-top: 70px;
    }

    .boton {
        font-size: 16px;
        width: 110px;
    }
}


@media screen and (max-width: 425px) {
    header {
        padding: 30px 0;
    }

    h1 {
        font-size: 20px;
        padding: 13px;
    }

    main {
        padding-top: 0px;
    }

    .iconos_tar {
        font-size: 24px;
        position: relative;
        right: 40px;
        top: 42px;
    }

    .nomape_tar {
        padding-bottom: 35px;
    }

    label {
        font-size: 17px;
    }

    input {
        height: 33px;
        font-size: 12px;
        width: 80%;
    }

    #numtar {
        margin-bottom: 10px;
    }

    .contenedor_mac {
        margin-left: 22px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .campo {
        grid-column: 3/4;
    }

    .campo- {
        grid-column: 5/6;
    }

    .campo-- {
        grid-column: 7/8;
    }

    .contenedor_mac label {
        font-size: 16px;
    }

    .contenedor_mac input {
        height: 32px;
        font-size: 12px;
        width: 65px;
    }

    .botones {
        padding-top: 55px;
    }

    .boton {
        font-size: 15px;
        height: 36px;
        width: 100px;
    }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 19px;
        padding: 12px;
    }

    .iconos_tar {
        font-size: 20px;
        position: relative;
        right: 40px;
        top: 42px;
    }

    .nomape_tar {
        padding-bottom: 35px;
    }

    label {
        font-size: 15px;
    }

    input {
        height: 32px;
        font-size: 11px;
        width: 80%;
    }

    .contenedor_mac label {
        font-size: 14px;
    }

    .contenedor_mac input {
        height: 30px;
        font-size: 11px;
        width: 60px;
    }

    .botones {
        padding-top: 50px;
    }

    .boton {
        font-size: 14px;
        height: 34px;
        width: 90px;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 17px;
        padding: 11px;
    }

    main {
        margin-right: 18px;
    }

    .iconos_tar {
        font-size: 16px;
        position: relative;
        right: 30px;
        top: 36px;
    }

    .nomape_tar {
        padding-bottom: 30px;
    }

    label {
        font-size: 14px;
    }

    input {
        height: 30px;
        font-size: 10px;
    }

    .contenedor_mac {
        margin-right: 100px;
    }

    .contenedor_mac label {
        font-size: 12px;
    }

    .contenedor_mac input {
        height: 28px;
        font-size: 9px;
        width: 50px;
    }

    .boton {
        font-size: 13px;
        height: 30px;
        width: 80px;
    }
}

@media screen and (max-width: 280px) {
    header {
        padding: 30px 0;
    }

    .iconos_tar {
        font-size: 18px;
        position: relative;
        right: 40px;
    }
}