<!DOCTYPE html>
<html lang="es-Do">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO | OLVIDASTE TU CONTRASEÑA</title>
    <link rel="icon" href="{{ url_for('static', filename='icons/olvidaste_contrasena.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/olvidaste_contrasena.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>
    <script>
        function vaciar(control) {
            control.placeholder = ''
        }
    </script>
    <header>
        <h1 class="titulo">¿Tienes problemas para iniciar sesion?</h1>
    </header>
    <main>
        <div class="subtitulos">
            <h2 class="subtitulo">¿No recuerdas tu contraseña?</h2>
            <h3 class="subtitulo-">¡No te preocupes nos sucedes a todos!</h3>
        </div>
        <div class="contenedor_formulario">
            <form action="/olvidastetucontrasena/bd" method="post" enctype="multipart/form-data" id="form"> 
                <div class="campo">
                    <input type="email" id="correo" name="correo" required>
                    <span class="icono_correo" title="Correo Electronico"><i class="fa-regular fa-envelope"></i></span>
                    <label for="email">Ingrese su correo</label>
                </div>
                <div class="botones">
                    <a href="/">
                        <button type="button" class="boton">Atras</button>
                    </a>
                    <button type="submit" id="button" class="boton" value="Send Email">Enviar</button>
                </div>
            </form>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/fa9d163aa9.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='JS/enviarEmail.js') }}"></script>
</body>
</html>