<!DOCTYPE html>
<html lang="es-Do">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONFIGURACIONES | PERFIL</title>
    <link rel="icon" href="{{ url_for('static', filename='icons/perfil.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfileditar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ventanamodal.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
    <script>
        function confirmacion() {
            alert("Estas seguro de que quieres GUARDAR CAMBIOS");
        }
    </script>
    <div class="menu-boton">
        <i class="fas fa-bars"></i>
    </div>
    <div class="barra-lateral">
        <header>
            <div class="cerrar-boton">
                <i class="fas fa-times"></i>
            </div>
            <a href="/inicio_inventario" class="inicio">
                <img src="{{ url_for('static', filename='icons/logo.png') }}" class="logo">
                <h1>Inventory</h1>
            </a>
            <div class="menu">
                <div class="elemento">
                    <a class="sub-boton toggle" id="registros">
                        <img class="icon" src="{{ url_for('static', filename='icons/registros.png') }}"><span>REGISTROS</span><i
                            class="fas fa-angle-right dropdown"></i>
                    </a>
                    <div class="sub-menu">
                        <a href="/registrodearticulos" class="sub-elemento">ART&Iacute;CULOS</a>
                        <a href="/registrodeclientes" class="sub-elemento">CLIENTES</a>
                        <a href="/registrodesuplidores" class="sub-elemento">SUPLIDORES</a>
                        <a href="#" class="sub-elemento" id="abrirM">MARCAS</a>
                        <a href="#" class="sub-elemento" id="abrirENV">ENCARGADO DE VENTAS</a>
                        <a href="#" class="sub-elemento" id="abrirENC">ENCARGADO DE COMPRAS</a>
                    </div>
                </div>
                <div class="elemento">
                    <a class="sub-boton toggle" id="procesos">
                        <img class="icon" src="{{ url_for('static', filename='icons/procesos.png') }}"><span>PROCESOS</span><i
                            class="fas fa-angle-right dropdown"></i>
                    </a>
                    <div class="sub-menu">
                        <a href="/compras" class="sub-elemento">COMPRAS</a>
                        <a href="/ventas" class="sub-elemento">VENTAS</a>
                    </div>
                </div>
                <div class="elemento">
                    <a class="sub-boton toggle" id="movimientos">
                        <img class="icon" src="{{ url_for('static', filename='icons/movimientos.png') }}"><span>MOVIMIENTOS</span><i
                            class="fas fa-angle-right dropdown"></i>
                    </a>
                    <div class="sub-menu">
                        <a href="/movimientosdiariocompras" class="sub-elemento">DIARIOS / COMPRAS</a>
                        <a href="/movimientosdiarioventas" class="sub-elemento">DIARIOS / VENTAS</a>
                        <a href="/movimientoporarticulocompras" class="sub-elemento">ART&Iacute;CULO / COMPRAS</a>
                        <a href="/movimientoporarticuloventas" class="sub-elemento">ART&Iacute;CULO / VENTAS</a>
                    </div>
                </div>
                <div class="elemento">
                    <a class="sub-boton toggle" id="listados">
                        <img class="icon" src="{{ url_for('static', filename='icons/listados.png') }}"><span>LISTADOS</span><i
                            class="fas fa-angle-right dropdown"></i>
                    </a>
                    <div class="sub-menu">
                        <a href="/listadodearticulos" class="sub-elemento">LISTADO DE ART&Iacute;CULOS</a>
                        <a href="/listadodeprecios" class="sub-elemento">LISTADO DE PRECIOS</a>
                        <a href="/listadodecompras" class="sub-elemento">LISTADO DE COMPRAS</a>
                        <a href="/listadodeventas" class="sub-elemento">LISTADO DE VENTAS</a>
                        <a href="/listadodeclientes" class="sub-elemento">LISTADO DE CLIENTES</a>
                        <a href="/listadodesuplidores" class="sub-elemento">LISTADO DE SUPLIDORES</a>
                    </div>
                </div>
                <div class="elemento ">
                    <a href="/respaldos" class="toggle" id="respaldos">
                        <img class="icon" src="{{ url_for('static', filename='icons/respaldos.png') }}"
                            alt=""><span>RESPALDOS</span>
                    </a>
                </div>
                <div class="elemento">
                    <a class="sub-boton toggle" id="configuraciones">
                        <img class="icon"
                            src="{{ url_for('static', filename='icons/configuraciones.png') }}"><span>CONFIGURACIONES</span><i
                            class="fas fa-angle-right dropdown"></i>
                    </a>
                    <div class="sub-menu">
                        <a href="/perfil" class="sub-elemento">PERFIL</a>
                        <a href="/cambiarcontrasena" class="sub-elemento">CAMBIAR CONTRASEÑA</a>
                        <a href="#" class="sub-elemento" id="abrirEC">ELIMINAR CUENTA</a>
                        <a href="/terminosycondiciones" class="sub-elemento">T&Eacute;RMINOS & CONDICIONES</a>
                    </div>
                </div>
                <div class="elemento">
                    <a href="/cerrar_sesion">
                        <img class="icon" src="{{ url_for('static', filename='icons/cerrar-sesion.png') }}"><span>CERRAR
                            SESI&Oacute;N</span>
                    </a>
                </div>
            </div>
        </header>
    </div>
    <main>
        <aside> 
            <div class="cabecera_main">
                <h1 class="titulo">Perfil</h1>
            </div>
            <form class="contenedor_formulario grid" action="/perfileditar/bd" method="post" enctype="multipart/form-data">
                {% for perfil in perfil %}
                <input type="hidden" value="{{ perfil[0] }}" name="id_registro" id="id_registro">
                {% endfor %}
                <div class="informacion_empresa">
                    <div class="empresa_img">
                        <figure>
                            <img src="{{ url_for('static', filename='icons/usuario.png') }}" alt="Usuario" class="imagen_empresa">
                        </figure>
                    </div>
                </div>
                <div class="grid__">
                    {% for usuario in perfil %}
                    <div class="campo">
                        <input type="email" id="email" name="email" autocomplete="off" value="{{ usuario[5] }}" required>
                        <span class="icono_label" title="Correo Electronico"><i class="fa-regular fa-envelope"></i></span>
                        <label for="email">Correo Electr&oacute;nico</label>
                    </div>
                    <div class="campo">
                        <input type="text" id="dir" name="dir" autocomplete="off" value="{{ usuario[3] }}" required>
                        <span class="icono_label" title="Direccion"><i class="fa-solid fa-location-dot"></i></span>
                        <label for="dir">Direcci&oacute;n</label>
                    </div>
                    <div class="campo">
                        <input type="tel" id="tel" name="tel" autocomplete="off" value="{{ usuario[4] }}" required>
                        <span class="icono_label" title="Telefono"><i class="fa-sharp fa-solid fa-phone"></i></span>
                        <label for="tel">Tel&eacute;fono</label>
                    </div>
                    {% endfor %}
                    <div class="botones">
                        <a href="/perfil">
                            <button type="button" class="boton">
                                <img src="{{ url_for('static', filename='icons/atras.png') }}" alt="Atras" class="imagen_atras">Atr&aacute;s
                            </button>
                        </a>
                        <button type="submit" class="boton" onclick="confirmacion()">Guardar</button>
                    </div>
                </div>
            </form>
        </aside>
        <div id="miModalM" class="modal">
            <div class="flex" id="flexM">
                <div class="contenido-modal">
                    <div class="modal-header flex">
                        <h2>CREADOR DE MARCAS</h2>
                        <span class="close" id="closeM">&times;</span>
                    </div>
                    <div class="modal-body">
                        <form action="/perfileditar/marcas/bd" method="post" enctype="multipart/form-data"
                            class="formulario-">
                            <div class="campo-">
                                <input type="text" name="codigo_marca" id="codigo_marca" placeholder="Ingrese el C&oacute;digo">
                            </div>
                            <div class="campo-">
                                <input type="text" name="nombre_marca" id="nombre_marca" placeholder="Ingrese el Nombre">
                            </div>
                            <div class="botones-">
                                <button type="reset" class="boton-">Borrar</button>
                                <button type="submit" class="boton-">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="miModalENV" class="modal">
            <div class="flex" id="flexENV">
                <div class="contenido-modal">
                    <div class="modal-header flex">
                        <h2>CREADOR DE ENCARGADO DE VENTAS</h2>
                        <span class="close" id="closeENV">&times;</span>
                    </div>
                    <div class="modal-body">
                        <form action="/perfileditar/encVentas/bd" method="post" enctype="multipart/form-data"
                            class="formulario-">
                            <div class="campo-">
                                <input type="text" name="codigo_enc_ventas" id="codigo_enc_ventas"
                                    placeholder="Ingrese el C&oacute;digo">
                            </div>
                            <div class="campo-">
                                <input type="text" name="nombre_enc_ventas" id="nombre_enc_ventas"
                                    placeholder="Ingrese el Nombre">
                            </div>
                            <div class="botones-">
                                <button type="reset" class="boton-">Borrar</button>
                                <button type="submit" class="boton-">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="miModalENC" class="modal">
            <div class="flex" id="flexENC">
                <div class="contenido-modal">
                    <div class="modal-header flex">
                        <h2>CREADOR DE ENCARGADO DE COMPRAS</h2>
                        <span class="close" id="closeENC">&times;</span>
                    </div>
                    <div class="modal-body">
                        <form action="/perfileditar/encCompras/bd" method="post" enctype="multipart/form-data"
                            class="formulario-">
                            <div class="campo-">
                                <input type="text" name="codigo_enc_compras" id="codigo_enc_compras"
                                    placeholder="Ingrese el C&oacute;digo">
                            </div>
                            <div class="campo-">
                                <input type="text" name="nombre_enc_compras" id="nombre_enc_compras"
                                    placeholder="Ingrese el Nombre">
                            </div>
                            <div class="botones-">
                                <button type="reset" class="boton-">Borrar</button>
                                <button type="submit" class="boton-">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="miModalEC" class="modal">
            <div class="flex" id="flexEC">
                <div class="contenido-modal">
                    <div class="modal-header flex">
                        <h2>ELIMINACI&oacute;N DE CUENTA</h2>
                        <span class="close" id="closeEC">&times;</span>
                    </div>
                    <div class="modal-body">
                        <form action="/perfileditar/eliminar_cuenta/bd" method="post" enctype="multipart/form-data"
                            class="formulario-">
                            <div class="campo">
                                <p>¿Seguro que desea eliminar su cuenta?</p>
                            </div>
                            <div class="botones-">
                                <a href="/perfileditar"><button type="button" class="boton-">Atr&aacute;s</button></a>
                                <a href="/perfileditar/eliminar_cuenta/bd"><button type="submit" id="id_registro_usuario"
                                        name="id_registro_usuario" class="boton-">Eliminar</button></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='JS/menuDesplegable.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/ventanaModal.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/active.js') }}"></script>
    <script src="https://kit.fontawesome.com/fa9d163aa9.js" crossorigin="anonymous"></script>
</body>
</html>