<!DOCTYPE html>
<html lang="es-Do">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO | REGISTRATE</title>
    <link rel="icon" href="{{ url_for('static', filename='icons/registro_usuario.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro_usuario.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mensaje.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>
    <script>
        function confirmacion() {
            var conf =  confirm("¿Estas seguro de que tu informacion es correcta?");

            if(conf == true) {
                return true;
            } else {
                return false;
            }
        }
    </script>
    <header>
        <h1 class="titulo_reg">Registro De Usuario</h1>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for mensaje in messages %}
            <div class="mensaje_inicio">{{ mensaje }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <main>
        <div class="contenedor_formulario">
            <form action="/registro_usuario/bd" method="post" enctype="multipart/form-data"> 
                <div class="contenedor_nomape">
                    <div class="campo">
                        <input type="text" id="nom" name="nom" class="nomape" autocomplete="off" required>
                        <span class="icono_label" title="Nombre"><i class="fa-solid fa-signature"></i></span>
                        <label for="nom">Nombre</label>
                    </div>
                    <div class="campo">
                        <input type="text" id="ape" name="ape" class="nomape" autocomplete="off" required>
                        <span class="icono_label" title="Apellido"><i class="fa-solid fa-signature"></i></span>
                        <label for="ape">Apellido</label>
                    </div>
                </div>
                <div class="campo">
                    <input type="text" id="dir" name="dir" autocomplete="off" required>
                    <span class="icono_label" title="Direccion"><i class="fa-solid fa-location-dot"></i></span>
                    <label for="dir">Direcci&oacute;n</label>
                </div>
                <div class="campo">
                    <input type="tel" id="tel" name="tel" autocomplete="off" required>
                    <span class="icono_label" title="Telefono"><i class="fa-sharp fa-solid fa-phone"></i></span>
                    <label for="tel">Tel&eacute;fono</label>
                </div>
                <div class="campo">
                    <input type="email" id="email" name="email" autocomplete="off" required>
                    <span class="icono_label" title="Correo Electronico"><i class="fa-regular fa-envelope"></i></span>
                    <label for="email">Correo Electr&oacute;nico</label>
                </div>
                <div class="campo">
                    <input type="password" id="password" name="password"
                    class="input_password" minlength="8" autocomplete="off" required>
                    <span class="icono_label" title="Contraseña"><i class="fa-solid fa-key"></i></span>
                    <span class="moscontra" title="Contraseña Oculta"><i class="fa-regular fa-eye-slash mostrar"></i></span>
                    <label for="password">Contraseña</label>
                </div>
                <div class="campo arriba">
                    <input type="password" id="password-" name="password-" class="input_password-" minlength="8" autocomplete="off" required>
                    <span class="icono_label" title="Contraseña"><i class="fa-solid fa-key"></i></span>
                    <span class="moscontra" title="Contraseña Oculta"><i class="fa-regular fa-eye-slash mostrar-"></i></span>
                    <label for="password-">Confirmar Contraseña</label>
                </div>
                <div class="botones">
                    <a href="/">
                        <button type="button" class="boton">Atr&aacute;s</button>
                    </a>
                    <div>
                        <button type="submit" class="boton" onclick="return confirmacion()">Siguiente</button>
                    </div>
                </div>
            </form>
        </div>
	</div>
    </main>
    <script src="https://kit.fontawesome.com/fa9d163aa9.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='JS/mostrarContrasena.js') }}"></script>
</body>
</html>